@use '@core/styles/variables' as variables;

.container {
  position: relative;
  width: 32px;

  .option {
    position: relative;
    height: 32px;
    color: #7c7c7c;

    svg {
      width: 32px;
      height: 32px;
    }

    &:hover {
      color: #000000;
    }

    cursor: pointer;

    &.active {
      color: variables.$primary-blue;

      &:hover {
        color: variables.$primary-blue;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid variables.$primary-blue;
        border-radius: 6px;
      }
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #cecece;
    border-radius: 6px;
  }
}
