.container {
  position: absolute;
  pointer-events: none;
  bottom: 20px;
  left: 120px;
  height: 20px;
  font-size: 16px;
  z-index: 1;
  color: #838383;

  &.mobile {
    left: 25px;
    bottom: 55px;
  }
}
