@use '@core/styles/variables' as variables;

.container {
  flex: 1 1 auto;
  overflow: hidden;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .workarea-container {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .workarea {
    overflow: overlay;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-color: #f0f0f0;

    &:not(.mac) {
      overflow: hidden;
      &:hover {
        overflow: overlay;
      }
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
      }
      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }
    }

    #svgcanvas {
      background: variables.$backgroundColor;
      #rotaryAxis {
        #transparent {
          stroke-width: 5px;
        }
      }
    }
  }
}

.invisible-tools {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.bottom-right {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  pointer-events: none;

  .controls {
    margin: 0 20px 20px 0;
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
  }

  > * {
    pointer-events: all;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .controls {
      margin: 0 10px 20px 0;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
