.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .main {
    flex: 1 1 auto;
    display: flex;
    height: 0; // need to add this 0 to avoid the height of the container to be 100% of the parent
  }
}
