.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .main {
    flex: 1 1 auto;
    display: flex;
    height: 0; // need to add this 0 to avoid the height of the container to be 100% of the parent

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
}

.drawer-container {
  bottom: 0;
  left: 51px; // default 50 + 1 for dockview border
  overflow: hidden; // hide left shadow of drawer
  pointer-events: none; // prevent blocking canvas interaction
  position: fixed;
  right: 0;
  top: 40px; // TODO: use var
  z-index: 1000;

  > :global(.ant-drawer) {
    position: absolute;
  }
}
