@use './connection_setting_page' as connectionSettingPage;

@keyframes pulse {
  0% {
    transform: (scale(0.8));
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}

.container {
  @include connectionSettingPage.container;

  .main {
    .image {
      .hint {
        position: absolute;
        width: 122px;
        height: 122px;
        border-radius: 61px;
        margin: 210px 0 0 -6px;
        animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
      }

      img {
        width: 200px;
        box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }

      @media screen and (max-width: 600px) {
        .hint {
          width: 70px;
          height: 70px;
          margin: 128px 0 0 -55px;
        }
      }
    }

    &.ador {
      .image {
        .hint {
          @include connectionSettingPage.ador-network-hint;
        }
      }
    }

    &.bb2 {
      .image {
        .hint {
          @include connectionSettingPage.bb2-network-hint;
        }
      }
    }
  }
}
