@use "./connection_setting_page" as connectionSettingPage;

.container {
  @include connectionSettingPage.container;

  @media screen and (max-width: 600px) {
    > .btns > .btn.primary {
      background-color: #333333;

      &:hover:not(.disabled) {
        background-color: #000000;
      }
    }
  }

  .main {
    height: fit-content;
    padding-bottom: 60px;
    margin: 0;

    @media screen and (max-width: 600px) {
      margin: auto;
    }

    .title {
      margin-bottom: 50px;
      font-size: 30px;
      color: #333333;

      @media screen and (max-width: 600px) {
        font-size: 22px;
      }
    }

    > .btns {
      margin: 0 auto 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .btn-container {
        width: 100%;
        display: flex;
        margin: 0 0 10px 0;

        .icon {
          margin: 0 25px 0 0;
          width: 40px;
        }

        .btn {
          width: 100%;
          height: 54px;
          line-height: 54px;
          padding: 0 30px;
          border-radius: 2px;
          transition: all 0.3s ease;
          background: none;
          font-size: 30px;
          color: #333333;
          font-weight: 700;
          text-align: start;

          &:hover {
            background-color: #333333;
            color: #f8f8f8;
          }

          .sub {
            font-size: 16px;
          }
        }

        @media screen and (max-width: 600px) {
          flex-direction: row-reverse;
          background-color: white;
          border-radius: 8px;
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.04);

          &:hover {
            background-color: #0091ff;
            color: white;

            .icon {
              filter: brightness(0) invert(1);
            }
          }

          .icon {
            margin: 0 20px 0 0;
          }

          .btn {
            height: auto;
            min-height: 54px;
            line-height: 1;
            font-size: 20px;
            padding: 5px 20px;
            border-radius: 8px;

            &:hover {
              background-color: transparent;
              color: inherit;
            }

            .sub {
              font-size: 12px;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
