// abstracts font, animations...
@use 'abstracts/__abstracts';

// vendor
@use 'vendor/__vendor';

// base styles written for everywhere
@use 'base/__base';

// small modules or components
@use 'components/__components';

// main layout
@use 'layout/__layout';

// pages contents
@use 'pages/__pages';
