.showable-password-input {
    display: flex;
    align-items: center;
    input {
        width: 100%;
        padding-right: 30px;
    }
    img {
        width: 20px;
        height: 20px;
        margin: 0 0 0 -30px;
        cursor: pointer;
    }
}