@use '../_mixins.scss' as mixins;

.container {
  @include mixins.item-group();
}

.panel {
  width: 100%;

  .row {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    > * {
      flex: 1;
      min-width: 0;
    }

    .dimension {
      display: flex;
      align-items: center;
      min-width: 0;
      height: 27px;

      .label {
        width: 20px;
        color: #494949;

        &.img {
          display: flex;
          align-items: center;
        }
      }

      .input {
        flex: 1;
        min-width: 0;

        :global(.ant-input-number-input) {
          padding: 1px 24px 1px 4px;
        }
      }
    }
  }

  .size-group {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
  }

  .size-lock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(4px - 100%), -50%);

    :global(.ant-btn) {
      width: 20px;
      height: 20px;
      min-width: 20px;
      padding: 0;
      font-size: 14px;
      line-height: 1;
    }
  }

  .rotate-btns {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-start;
  }

  .rotate-btn {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    padding: 0 4px;
    font-size: 12px;
  }
}
