@use '@core/styles/mixins' as mixins;
@use '@core/styles/selectors' as selectors;

.full-row {
  flex: 1;
  align-items: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  gap: 8px;
}

.btn {
  flex: 1;

  @include selectors.desktop-layout {
    min-width: 0;
    height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
  }
  @include selectors.tablet-or-mobile-layout {
    :global(.ant-btn-icon) {
      font-size: 24px;
    }
  }
}
