$number-per-row: 6;
$number-per-row-mobile: 6;
$gap: 8px;
// space for scroll bar not overlap on icons
$scrollbar-x: 20px;

.shadow-container {
  position: relative;
  height: 100%;

  .shadow {
    position: absolute;
    bottom: 0;
    left: calc($gap / -2);
    width: calc(100% + $gap);
    height: 27px;
    background: linear-gradient(
      0,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    );

    @media screen and (max-width: 600px) {
      left: 0;
      width: 100%;
    }
  }
}

.scroll-content {
  height: 100%;
  overflow-y: scroll;
  padding: 12px 20px 18px;

  @media screen and (max-width: 600px) {
    padding: 12px 16px;
  }
}

.icon-list {
  display: grid;
  grid-template-columns: repeat($number-per-row, 1fr);
  justify-items: center;
  gap: $gap;

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat($number-per-row-mobile, 1fr);
    font-size: calc(
      (100% - $gap * ($number-per-row-mobile - 1)) / $number-per-row-mobile
    );
  }

  .subtitle {
    width: 100%;
    grid-column: 1 / -1;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    margin-left: 10px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  button.subtitle {
    justify-content: space-between;
    margin-left: 0;
    &:not(:hover) {
      padding-left: 0;
    }
    &:hover {
      background-color: #e9f4fe !important;
    }
    &:active {
      background-color: #cbe7fd !important;
    }
  }

  .more {
    grid-column: 1 / -1;
  }
}

.login {
  font-weight: 700;
  margin-bottom: 8px;
}

// Search
.hints {
  font-weight: 500;
  font-size: 12px;
  color: #999999;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 16px;

  > li + li {
    margin-top: 6px;
  }
}

.empty {
  font-weight: 500;
  color: #333333;
  margin-top: 32px;
  margin-bottom: 32px;
}

.bold {
  font-weight: 700;
  color: #333333;
  margin-bottom: 12px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  > button {
    padding: 0;
  }
}
