{
  "singleQuote": true,
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "packages/core/src/web/app/lang/*.ts",
      "options": {
        "printWidth": 10000
      }
    }
  ]
}
