cairocffi==1.7.1
cffi==1.14.5
cssselect2==0.4.1
cycler==0.10.0
Cython==3.0.10
defusedxml==0.7.1
ecdsa==0.16.1
future==0.18.3
lazy-object-proxy==1.6.0
lxml==4.6.3
matplotlib==3.1.2
msgpack==1.0.8
numpy==1.24.4
opencv-python==4.9.0.80
Pillow==10.2.0
pyasn1==0.1.9
pycparser==2.20
pycryptodome==3.20.0
PyInstaller==6.8.0
pylint==2.3.1
pyparsing==2.4.6
pyserial==3.5
pyusb==1.0.2
scipy==1.10.1
six==1.15.0
tinycss2==1.1.0
typed-ast==1.4.0
webencodings==0.5.1
wrapt==1.16.0
