.modal {
  .close-icon {
    font-size: 22px;
  }
  .title {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin: 12px 0;
  }
  .subtitle {
    font-weight: 600;
  }
  .field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    .label {
      min-width: 60px;
    }
    .slider {
      flex-grow: 1;
    }
    .input {
      width: 90px;
      input {
        border-radius: 0;
      }
      &.with-unit {
        flex-direction: row-reverse;
        column-gap: 4px;
        .unit {
          color: #7c7c7c;
        }
      }
    }
  }
}
