.modal {
  .close-icon {
    font-size: 22px;
  }
  .title {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin: 12px 0;

    @media (min-width: 770px) {
      text-align: left;
      padding: 0 0 10px 0;
    }
  }
  .field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 21px;
    margin-bottom: 24px;
    .label {
      min-width: 60px;
    }
    .slider {
      width: 100%;
    }
    $input-width: 120px;
    .select {
      width: $input-width;
    }
    .input {
      width: $input-width;

      input {
        border-radius: 0;
      }
      &.with-unit {
        flex-direction: row-reverse;
        column-gap: 4px;
        .unit {
          color: #7c7c7c;
        }
      }
    }
  }

  .divider {
    height: 1px;
    background-color: #e0e0e0;
    margin: 16px 0;
    width: 100%;
  }
}
