@use "sass:meta";
.beambox-studio {
  @include meta.load-css("beambox/right-panel/right-panel");
  @include meta.load-css("beambox/svg-editor");
  @include meta.load-css("beambox/tool-panels");

  user-select: none;
  position: absolute;
  svg:not(:root) {
    overflow: visible;
  }
  #svg_editor:not(.color) #svgcontent {
    filter: saturate(0%);
  }
  #svgcontent {
    *[data-tempgroup="true"] {
      rect,
      path,
      ellipse,
      circle,
      polygon,
      g,
      line,
      text {
        stroke: #0091ff !important;
      }
    }
    .layer {
      &[data-lock="true"] {
        pointer-events: none !important;
      }
    }
  }
}
