.container {
  text-align: center;
  line-height: 24px;
  margin: 0 6px 0 7px;
  height: 30px;
  width: 36px;
  font-size: 32px;
  color: #7c7c7c;

  &.active {
    color: #000;
  }

  &.disabled {
    opacity: 0.5;
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  &:hover:not(.disabled) {
    color: #000;
  }

  .badge {
    color: inherit;
    font-size: inherit;

    .flux-plus {
      font-size: 20px;
    }
  }
}
