.de {
    &.beambox-studio {
        .tool-panels {
            .tool-block {
                width: 300px;
            }
            .tool-panel {
                .controls {
                    width: 300px;
                    .text-center {
                        width: 70px;
                    }
                }
            }
        }
    }
}