@mixin container {
  color: #888888;
  width: 150px;
  height: 180px;
  text-align: center;

  &:hover {
    color: #333;
  }

  .img-container {
    width: 100%;
    height: 135px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px 0;
    border-radius: 5px;

    &.selected {
      background: #eeeeee;
    }

    > img {
      width: 135px;
      border-radius: 3px;
    }
  }

  .name {
    font-size: 1rem;
    text-align: center;
    padding: 0 8px;
    overflow: hidden;
    border-radius: 5px;

    &.selected {
      color: white;
      background-color: #1890ff;
    }
  }
}
