@use '@core/styles/variables' as variables;
@use './_mixins.scss' as mixins;

.common-tools-container {
  display: flex;
  align-items: center;
  gap: 8px;

  > div {
    @include mixins.button();
  }
}
