.beambox-studio {
  @import "./beambox/left-toolbar";
  @import "./beambox/right-panel/right-panel";
  @import "./beambox/svg-editor";
  @import "./beambox/time-est-btn";
  @import "./beambox/tool-panels";
  @import "./beambox/top-bar-menu-container";
  @import "./beambox/zoom-block";

  user-select: none;
  position: absolute;
  svg:not(:root) {
    overflow: visible;
  }
  #svg_editor:not(.color) #svgcontent {
    filter: saturate(0%);
  }
  #svgcontent {
    *[data-tempgroup="true"] {
      rect,
      path,
      ellipse,
      circle,
      polygon,
      g,
      line,
      text {
        stroke: #0091ff !important;
      }
    }
    .layer {
      &[data-lock="true"] {
        pointer-events: none !important;
      }
    }
  }
}
