.top-bar {
  &.white {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-width: 0 0 1px 0;

    .hint-container {
      z-index: 1;
      top: 40px;
    }
    .menu {
      &.camera {
        left: 65px;
        top: 80px;
      }
      &.export {
        top: 37px;
        right: 50px;
      }
    }
  }

  .hint-container {
    position: absolute;
    z-index: 1;
    top: 80px;
    margin-left: 70px;
    height: 40px;
    line-height: 40px;
    color: #333333;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.95px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  .menu {
    background: #fff;
    position: fixed;
    z-index: 99;
    border-radius: 2px;
    &.camera {
      left: 65px;
      top: 50px;
    }
    &.export {
      top: 7px;
      right: 50px;
    }
    .arrow {
      min-width: 10px;
      min-height: 10px;
      width: 13px;
      height: 26px;
      position: absolute;
      top: 0;
      &.arrow-right {
        left: 100%;
      }
      &.arrow-left {
        right: 100%;
      }
    }
  }
  .modal-window {
    background: none;
  }
}
