@use '@core/styles/variables' as variables;
@use '@core/styles/mixins' as mixins;

.top-bar {
  flex: 0 0 auto;
  width: 100%;
  height: variables.$topBarHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  color: #ffffff;
  font-size: 30px;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    &.web {
      // Space for file name
      margin-bottom: 20px;
    }
  }

  &.draggable {
    @include mixins.when-tab-focused {
      -webkit-app-region: drag;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 12px;
    height: variables.$topBarHeight;
  }

  .left {
    flex: 0 1 auto;
    overflow: hidden;

    &.space {
      margin-left: 80px;

      @media screen and (max-width: 600px) {
        width: 72px;
      }
    }
  }

  .right {
    flex: 1 0 auto;
    padding-right: 8px;
    overflow: hidden;
    justify-content: flex-end;

    .drag-area {
      padding-left: 8px;
      flex: 1 0 auto;
      height: variables.$topBarHeight;
    }
  }
}

.menu {
  font-size: 10pt;
}

.top-bar-menu-container {
  position: absolute;
  cursor: pointer;
}
