.container {
  position: absolute;
  z-index: 1;
  top: 80px;
  margin-left: 70px;
  height: 40px;
  line-height: 40px;
  color: #333333;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.95px;
  text-shadow:
    -1px 0 white,
    0 1px white,
    1px 0 white,
    0 -1px white;
}
