@use '@core/styles/variables' as variables;
@use './_mixins.scss' as mixins;

.user-avatar {
  cursor: pointer;
  display: flex;
  align-items: center;

  .badge {
    font-size: 20px;
  }

  :global(.ant-avatar) {
    background: transparent;
  }

  .default-avatar {
    @include mixins.button();

    & {
      height: auto;
      font-size: 26px;
    }
  }
}
