@use '@core/styles/mixins' as mixins;
@use '@core/styles/selectors' as selectors;

.panel {
  > div:not(:last-child) {
    margin-bottom: 4px;
  }

  :global(.ant-select) {
    padding: 5px 0 1px 0;
    :global(.ant-select-selector) {
      border-width: 0 0 1px 0 !important;
    }
  }

  .row {
    display: flex;
    align-items: flex-end;

    &.multi {
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 4px 8px;
    }
  }
}
