.slider {
  width: 120px;
}

.value {
  width: 32px;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}

.switch {
  font-weight: bold;
}

.notSupported {
  font-size: 14px;
  white-space: nowrap;
  color: #ffffff;
  display: flex;
  align-items: center;
}
