.path-preview-panel {
  .tools-panel {
    height: 95px;
    padding: 40px 20px 0;
    border: 1px solid #e0e0e0;
    border-width: 1px 0 0 0;
    // margin: 30px 0 0 0;
    .options {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      .play-control {
        display: flex;
        width: 48px;
        margin: 0 8px;
        img {
          width: 24px;
          height: 24px;
          &:not(.disabled) {
            cursor: pointer;
          }
        }
      }
      .speed-control {
        display: flex;
        align-items: center;
        line-height: 18px;
        input[type="range"]#speed {
          width: 75px;
          height: 10px;
          margin: 0 10px;
          background: none;
          &::-webkit-slider-runnable-track {
            height: 1px;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none; // 一樣要消除
            margin-top: -5px;
            width: 10px;
            height: 10px;
            background-color: #ffffff;
            border-radius: 5px;
            border: 1px solid #000;
          }
        }
      }
      .current-time {
        min-width: 60px;
        text-align: right;
      }
    }
  }
  .btn-box {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 20px;
    border-radius: 100px;
    background-color: #ccc;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.13) inset;
  }
  .btn-box .btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 0; /*動畫從ml為0開始*/
    transition: 0.5s;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .checkbox {
    position: absolute;
    opacity: 0;
  }
  .checkbox:checked + .btn-box {
    background-color: #8f8;
  }
  .checkbox:checked + .btn-box .btn {
    margin-left: 15px;
  }

  .path-preview-slider-container {
    height: 15px;
    input[type="range"] {
      margin: 0;
      width: 100%;
      height: 15px;
      background: none; // 清除不必要的東西
      outline: none; // 清除不必要的東西
      border-radius: 0; // 清除不必要的東西
      overflow: hidden; // 晚點會用到
      cursor: pointer;
      &::-webkit-slider-runnable-track {
        height: 6px;
        border-radius: 25px;
        background: linear-gradient(
          to right,
          #007cf8 0%,
          #007cf8 var(--percentage),
          #bbbbbb var(--percentage),
          #bbbbbb 100%
        );
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none; // 一樣要消除
        margin-top: -5px;
        width: 15px;
        height: 15px;
        background-color: #ffffff;
        border-radius: 7.5px;
        border: 1px solid #000;
        // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
      }
      // firefox
      &::-moz-range-progress {
        height: 4px;
        background: #007cf8;
      }
      // IE
      &::-ms-fill-lower {
        background-color: #007cf8;
      }
      &::-ms-fill-upper {
        background-color: #bbbbbb;
      }
    }
  }
  .switch-control {
    margin-left: 2px;
    display: flex;
    padding: 5px 0;
    .label {
      margin-left: 40px;
      line-height: 20px;
    }
  }
  .control {
    .label {
      line-height: 16px;
      width: 160px;
    }

    div {
      margin-right: 0;
    }
    .switch-container {
      margin-left: 0;
      position: relative;
      div {
        display: inline-block;
      }
    }
    .onoffswitch {
      position: absolute;
      top: 0;
      left: 0px;
      width: 26px;
      margin: 3px 0;
      &.partially-filled {
        opacity: 0.7;
      }
      .onoffswitch-label {
        height: 14px;
        border: none;
        border-radius: 7px;
      }
      .onoffswitch-switch {
        right: 12px;
        width: 10px;
        height: 10px;
        border: none;
        border-radius: 5px;
        margin: 2px;
        transition: all 0.1s ease-in 0s;
      }
      .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0;
      }
      .onoffswitch-inner {
        transition: margin 0.1s ease-in 0s;
        &::before {
          background-color: #0091ff;
        }
      }
    }
  }
  .zoom-block {
    bottom: 65px;
  }
}

#path-preview-side-panel {
  border: none;
  position: fixed;
  background-color: #f8f8f8;
  width: $sidePanelWidth;
  padding: 0px;
  opacity: 1;
  overflow-x: visible;
  overflow-y: scroll;
  z-index: 2;
  top: 40px;
  height: calc(100% - 40px);
  right: 0;
  transition: opacity 0.3s;
  border: 1px solid #e0e0e0;
  border-width: 0 0 0 1px;
  &.win {
    top: 70px;
    width: $winSidePanelWidth;
    height: calc(100% - 70px);
  }
  &.linux {
    width: $winSidePanelWidth;
  }
  &:hover {
    opacity: 1;
    z-index: 4;
  }

  .title {
    height: 40px;
    line-height: 16px;
    font-size: 16px;
    padding: 12px 15px;
    background: #eeeeee;
    font-weight: bold;
    border: 1px solid #e0e0e0;
    border-width: 0 0 1px;
  }

  .datas {
    margin: 10px 0 0 0;
  }

  .data-block {
    display: flex;
    flex-direction: row;
    height: 36px;

    div {
      font-size: 12px;
      line-height: 12px;
    }

    .item {
      flex: 9;
      padding: 12px;
    }

    .value {
      flex: 8;
      padding: 12px 0;
    }
  }

  .data-block:first {
    margin-top: 5px;
  }

  .buttons {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn {
      margin: 5px 0;
      width: 150px;
    }
  }
}
