#svg_editor {
  color: #000;
  top: 40px;
  left: 50px;
  width: calc(100% - 50px - 258px);
  height: calc(100% - 40px);
  &.mac {
    width: calc(100% - 50px - 242px);
  }
  #workarea {
    border: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #f0f0f0;
    overflow: overlay;
    &:not(.mac) {
      overflow: hidden;
      &:hover {
        overflow: overlay;
      }
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
      }
      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }
    }
    #svgcanvas {
      background: $backgroundColor;
      #rotaryAxis {
        #transparent {
          stroke-width: 5px;
        }
      }
    }
  }
  #rulers {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    width: calc(100vw - 308px);
    height: 100vh;
    &.mac {
      width: calc(100vw - 292px);
    }
    div {
      position: absolute;
      background: #f0f0f0;
      overflow: hidden;
    }
    #ruler_corner {
      top: 0px;
      width: 15px;
      height: 15px;
    }
    #ruler_x {
      pointer-events: initial;
      top: 0px;
      left: 15px;
      right: 0px;
      height: 15px;
      border-bottom: 1px solid;
      border-left: 1px solid #777;
      canvas {
        pointer-events: none;
        margin-left: -16px;
      }
    }
    #ruler_y {
      pointer-events: initial;
      top: 15px;
      bottom: 0px;
      left: 0px;
      width: 15px;
      border-right: 1px solid;
      border-top: 1px solid #777;
      canvas {
        pointer-events: none;
        margin-top: -17px;
      }
    }
    #ruler_unit_shower {
      top: 0px;
      right: 0px;
      height: 15px;
      border-bottom: 1px solid #000;
      color: #333;
      font-size: 12px;
      font-weight: 300;
    }
  }
  #main_button,
  #tools_left,
  #tools_bottom {
    @include force-hide();
  }
  #tools_top {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    // if display: none, text mode will break.
    // this is just a quick workaround. maybe using @include force-hide() is more beautiful.
  }

  #svg_source_editor,
  #svg_prefs
  //#cmenu_canvas
  {
    @include force-hide();
  }
}
