.zoom-block {
  display: inline-flex;
  position: fixed;
  bottom: 10px;
  left: 65px;
  height: 20px;
  font-size: 16px;
  z-index: 1;
  .zoom-btn {
    cursor: pointer;
    display: inline-flex;
    width: 20px;
    height: 20px;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    img {
      width: 20px;
    }
    .bar {
      width: 2px;
      height: 12px;
      border-radius: 1px;
      background-color: #444444;
    }
    .bar1 {
      transform: translateX(9px) translateY(4px) rotate(90deg);
    }
    .bar2 {
      transform: translateX(7px) translateY(4px);
    }
  }
  .zoom-ratio {
    cursor: pointer;
    line-height: 20px;
    margin: 0 10px;
    color: #333333;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .react-contextmenu-wrapper {
    display: inherit;
  }
  .react-contextmenu {
    display: none;
  }
  .react-contextmenu--visible {
    display: unset;
    background-color: rgba($color: #ffffff, $alpha: 1);
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 4px;
    padding: 5px 0px;
    .react-contextmenu-item {
      padding: 0px 20px;
      line-height: 20px;
      height: 20px;
      font-size: 12px;
      &:hover {
        color: #ffffff;
        background-color: #2e5dea;
      }
    }
  }
}
