.container {
  padding: 40px;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

  .buttonContainer {
    display: flex;
    justify-content: space-around;

    button {
      width: 120px;
    }
  }
}
