@use '../abstracts/mixins';
@use '../abstracts/variables';

/**
 * global customize styles
 */
html,
body {
  background-color: variables.$backgroundColor;
  font-size: 12px;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  -webkit-user-select: none;
  overflow: hidden;
}

// Use html > body to increase priority to avoid being overridden by antd global
html {
  body {
    font-family:
      'Helvetica Neue', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Open Sans', Helvetica, Arial, 'Lucida Grande',
      sans-serif, 'Microsoft JhengHei', '微軟正黑體';
  }
}

body {
  cursor: default;
  font-size: 16px;
  position: relative;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #000;
  font-size: 12px;
  text-decoration: underline;
}

img {
  max-width: 100%;
  // no select
  -webkit-touch-callout: none; /* Safari Touch */
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge*/
  user-select: none; /* Future-proof*/
  // no drag
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/**
 * structure
 */
.wrapper {
  height: 100%;
}

.content {
  @include mixins.flexbox();
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

/* position */
.absolute-center {
  @include mixins.absolute-center();
}

/**
 * helper style
 */
.text-center {
  text-align: center;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/**
 * general style
 */

.hide {
  display: none;
}

.pure-list {
  list-style: none;
  padding: 0;
}

.error {
  border: 2px solid #f00;
  box-sizing: border-box;
}

.sticky-bottom {
  bottom: 0;
  position: absolute;
}

.logo {
  position: absolute;
  left: 3.75rem;
  top: 24px;
  img {
    width: 4.25rem;
  }
}

// controls
select {
  background-color: transparent;
  background-image: url('../img/icon-3d-arrow-down.png');
  background-position: calc(100% - 4px) center;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  border: 0;
  border-bottom: 1px #e0e0e0 solid;
  font-size: 14px;
  letter-spacing: 0.3px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}

// for slider
input[type='range'] {
  margin: 6px 0;
  width: 100%;
  -webkit-appearance: none;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  background: #bbbbbb;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  cursor: pointer;
  height: 8px;
  width: 100%;
}
input[type='range']::-webkit-slider-thumb {
  background: #777777;
  border: 2.5px solid #777777;
  border-radius: 12px;
  box-shadow:
    0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px rgba(13, 13, 13, 0);
  cursor: pointer;
  height: 20px;
  margin-top: -6px;
  width: 20px;
  -webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #c5c5c5;
}

.readonly {
  pointer-events: none;
}

/* studio */
.studio-container {
  height: 100%;
  width: 100%;

  .stage {
    height: 100%;
    position: relative;
  }

  .btn {
    margin-right: 5px;
  }

  .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }

  .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }

  .btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
}

hr {
  border-left: 0;
  border-top: 2px solid #f0f0f0;
  border-bottom: 0;
}

.menubar {
  .action-menu-item {
    text-decoration: none;
  }
  .action-item {
    &.disabled {
      .submenu {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

body .titlebar > .window-appicon {
  width: 28px;
  background-position: 9px center;
}

input[type='text'] {
  border: 1px solid #ccc;
  background: #fff;
  padding-left: 10px;
  border-radius: 4px;
  height: 32px;
  &::placeholder {
    color: #bbb;
  }
}

.ant-modal-content {
  -webkit-app-region: no-drag;
}
