@use '../abstracts/mixins';
@use '../abstracts/variables';

/**
 * modal
 */
.modal-window {
  @include mixins.flexbox();
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: variables.$max-z-index;
  align-items: center;
  justify-content: center;
  &.no-background {
    position: fixed;
    background: none;
  }
  &.with-hole {
    position: fixed;
    background: none;
    pointer-events: none;
    .modal-background {
      //background-color: #ffaaff;
      opacity: 0.1;
      pointer-events: initial;
      position: absolute;
    }
    .modal-body {
      pointer-events: initial;
    }
  }

  .modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .modal-body {
    @include mixins.flexbox();
    max-height: 100%;
  }
}

.ant-modal-content .message {
  font-family:
    'Helvetica Neue', 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, 'Lucida Grande', sans-serif,
    'Microsoft JhengHei', '微軟正黑體';
  margin: 0;
  padding: 0;
  position: relative;
  word-break: normal;
  word-wrap: normal;
}
