@use '@core/styles/variables' as variables;

.title {
  display: flex;
  align-items: center;
}

.cloud {
  font-size: 32px;
  color: #ababab;
}

.file-name {
  position: absolute;
  top: 0;
  width: 100%;
  height: variables.$topBarHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 1.03px;
  color: #ffffff;
  pointer-events: none;

  @media screen and (max-width: 600px) {
    background-color: #333;
    top: variables.$topBarHeight;
    height: 20px;
    z-index: 1;
  }
}
