@use '../shared-variables' as vars;

.title {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 600;
  color: vars.$text-primary;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  gap: 16px;
}

.loading-text {
  margin: 0;
  font-size: 14px;
  color: vars.$text-secondary;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin-bottom: 20px;
}

.loading-spinner {
  // use important to override @packages/core/public/js/lib/svgeditor/svg-editor.css
  :global(.ant-spin-dot) {
    transform-origin: center center !important;
    -webkit-transform-origin: center center !important;
    -moz-transform-origin: center center !important;
    -o-transform-origin: center center !important;
  }
}
