@use '@core/styles/variables' as variables;

$icon-gap: 13px;

.container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $icon-gap;
  padding: $icon-gap 0;
  background: #f8f8f8;
  border: 1px solid variables.$panelBorderColor;
  border-width: 0 1px 1px 0;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }

  .separator {
    margin-top: auto;
    width: 100%;
    height: 1px;
    min-height: 1px;
    background: variables.$panelBorderColor;
  }
}

.ai-generate {
  font-size: 32px;

  :hover {
    color: #000000;
  }
}

.beamy {
  font-size: 32px;

  :hover {
    color: #1890ff;
  }
}
