$print-default-font-color: #4A4A4A;
$default-button-border-radius: 4px;
$size: 200px;
$backgroundColor: #F0F0F0;
$sidePanelWidth: 242px;
$winSidePanelWidth: 258px;
$panelBorderColor: #E0E0E0;
$topBarHeight: 40px;

$primary-blue: #1890ff;
$primary-gray: #1e1e1e;
$secondary-gray: #7c7c7c;
$s3: 'https://beam-studio-web.s3.ap-northeast-1.amazonaws.com';
