$print-default-font-color: #4a4a4a;
$default-button-border-radius: 4px;
$size: 200px;
$backgroundColor: #f0f0f0;
$sidePanelWidth: 242px;
$welcomePageSidePanelWidth: 280px;
$winSidePanelWidth: 258px;
$panelBorderColor: #e0e0e0;
$topBarHeight: 40px;
$topBarHeightWebMobile: 60px; // Add 20px for file name display
$menuBarHeight: 30px; // for Windows
$windowControlsWidth: 80px; // for Mac

$primary-blue: #1890ff;
$primary-gray: #1e1e1e;
$secondary-gray: #7c7c7c;

$status-normal: #4fbb30;
$status-warning: #faa22d;
$status-critical: #fe4348;
$s3: 'https://beam-studio-web.s3.ap-northeast-1.amazonaws.com';
