@use '@core/styles/mixins' as mixins;

.container {
  @include mixins.is-not-mobile {
    // Avoid overlap with the fixed position button
    height: calc(100vh - 130px);
    padding-bottom: 90px;
    overflow: hidden;
  }
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #333333;
}

.subtitle {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.text {
  font-size: 12px;
  color: #9b9b9b;
}

.table-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px 40px;

  @include mixins.is-not-mobile {
    overflow: auto;
    padding: 0 4px 4px 0;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      margin-right: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 2px;
    }
  }
}
