.top-bar {
  height: 54px;
  padding: 12px 24px;
}

.w-100 {
  width: 100%;
}

.mr-8px {
  margin-right: 8px;
}

.lh-32px {
  line-height: 32px;
}

.dp-flex {
  display: flex;
}

.bdb {
  border-bottom: 1px solid #ddd;
}
