@use '@core/styles/variables' as variables;

$messages-area-bg: #daedff;

.chat-container {
  position: relative;
  background: $messages-area-bg;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;

  &::before {
    // Block rounded corners in the top of iframe
    content: ' ';
    position: absolute;
    width: 100%;
    height: 16px;
    background: variables.$primary-blue;
    z-index: 1;
    pointer-events: none;
  }

  @media (prefers-color-scheme: dark) {
    background: variables.$primary-blue;
  }
}

.chat-iframe {
  position: absolute;
  border: none;
  border-radius: 0;
  height: calc(100% + 60px); // Add 60px to hide powered by block
  width: 100%;
}

.floating-area {
  position: absolute;
  background: #e9eff4;
  border: 0.5px solid variables.$primary-blue;
  border-width: 0 0.5px 0.5px 0.5px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 13px;
  z-index: 10;
  padding: 0 24px 0 16px;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    background: #1c2028;
    border-width: 0 0.5px;
  }
}

.chat-disclaimer {
  font-size: 12px;
  color: variables.$primary-blue;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  margin-top: -4px;
  box-sizing: border-box;
}

// Special styles when chat width is larger than 640px
@media screen and (min-width: (variables.$welcomePageSidePanelWidth + 641px)) {
  .welcome-page.chat-container {
    background: #f6f9fb;

    @media (prefers-color-scheme: dark) {
      background: #202023;
    }

    &::before {
      background: #f6f9fb;
      border: 1px solid #e4e6ea;
      border-bottom: 0;

      @media (prefers-color-scheme: dark) {
        background: #202023;
        border-color: #2e2f31;
      }
    }

    .chat-iframe {
      height: 100%;
    }

    .floating-area {
      background: #f0f2f4;
      border-color: #dfe2e8;
      border-width: 0 1px 1px 1px;

      @media (prefers-color-scheme: dark) {
        background: #19191b;
        border-color: #29292d;
      }
    }
  }
}
