.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 22px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  position: relative;

  @media screen and (max-width: 600px) {
    height: 30px;
    font-size: 18px;
  }

  svg {
    // Force align icon to center (only consider circle part)
    position: relative;
    bottom: 3.1%;
    left: 0.6%;
  }
}

.result {
  font-size: 14px;
  color: #333333;
  text-shadow:
    -1px 0 white,
    0 1px white,
    1px 0 white,
    0 -1px white;
}
