@use './shared-variables' as *;

.ai-generate-container {
  background: $container-bg;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  border-bottom: 1px solid $border-color;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: $text-primary;
}

.actions {
  display: flex;
  gap: 8px;
}

.icon-button {
  color: $text-secondary;
  &:hover {
    color: $text-primary;
  }
  &.active {
    color: $primary-blue;
  }
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.section {
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
}

.section-title {
  @include section-title;
}

.required {
  color: $error-color;
}

.style-selection-button {
  height: auto;
  padding: 12px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 20px;

  .img {
    justify-content: center;
    width: 96px;
    height: 72px;
    object-fit: contain;
    border-radius: 6px;
  }

  .button-content {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    flex: 1;
  }
  .button-label {
    font-size: 16px;
    font-weight: 600;
  }
}

.textarea {
  font-size: 14px;
  &::placeholder {
    color: $text-placeholder;
  }
}

.count-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  bottom: 4px;

  .count {
    font-size: 12px;
    color: $text-secondary;
  }
}

.count-select {
  width: 100%;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-section {
  flex-shrink: 0;
  padding: 16px;
  border-top: 1px solid $border-color;
  background: $container-bg;
}

.generate-button {
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}

.credits-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}

.credits-required {
  font-size: 13px;
  color: $text-secondary;
}

.credits-balance {
  display: flex;
  align-items: center;
  gap: 6px;

  svg {
    font-size: 16px;
    color: $ai-credit-icon;
  }
  .ai-credit {
    font-size: 14px;
    font-weight: 500;
    color: $text-primary;
  }

  &:hover {
    cursor: pointer;
  }
}
