.block {
  margin: 7px 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;

  .label {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #333333;
  }

  .input {
    width: 40px;
    height: 20px;
    line-height: 20px;
    margin: 0px;
    input {
      height: 20px;
    }
  }

  .controls {
    display: flex;
    gap: 6px;
  }
}

.back {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.panel {
  padding: 0 16px 20px;
  margin-bottom: -12px;

  .label {
    color: #333333;
    line-height: 30px;
    font-weight: 600;
  }

  .field {
    margin-top: 6px;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .suffix {
      color: #d9d9d9;
    }
  }
}
