@use '@core/styles/mixins' as mixins;

.title {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin: 0 0 24px;
}

.textColumn {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include mixins.is-not-mobile {
    max-width: 400px;
    max-height: calc(100vh - 130px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      margin-right: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 2px;
    }
  }
}

.mediaColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 0;

  @include mixins.is-not-mobile {
    max-height: calc(100vh - 130px);
  }

  > video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
