.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #333333;
  padding-bottom: 25px;
}

.subtitle {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.space-divider {
  height: 80px;
  left: -4px;
}

.mb-12px {
  margin-bottom: 12px;
}

.mb-32px {
  margin-bottom: 32px;
}
