.input-number {
  :global(.ant-input-number) {
    width: 105px;
  }

  input {
    padding-right: 28px !important;
  }

  .unit {
    right: 4px;
    top: calc(20%);
  }
}

.xy-item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 240px;

  .input-number :global(.ant-input-number) {
    width: 96px;
  }
}

.xy-set {
  display: flex;
  align-items: center;
  gap: 8px;
}

.xy-label {
  flex-shrink: 0;
}
