@use '@core/styles/variables' as variables;

.scrollable {
  :global(.ant-modal-content) {
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - variables.$topBarHeight);
  }

  :global(.ant-modal-header) {
    flex: 0 0;
  }

  :global(.ant-modal-body) {
    overflow: auto;
  }

  :global(.ant-modal-footer) {
    flex: 0 0;
  }
}

.mobileScrollable {
  @media screen and (max-width: 600px) {
    :global(.ant-modal-content) {
      display: flex;
      flex-direction: column;
      max-height: 80dvh;
    }

    :global(.ant-modal-header) {
      flex-shrink: 0;
    }

    :global(.ant-modal-body) {
      max-height: 60dvh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    :global(.ant-modal-footer) {
      flex-shrink: 0;
    }
  }
}
