.resizable-drawer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.resizable-handle {
  right: 0;
  width: 10px;
}

.handle {
  width: 20px;
  height: 48px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  border-radius: 0 12px 12px 0;
  border: 1px solid #d9d9d9;
  border-left-width: 0;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.016);
  background: #ffffff;
  cursor: pointer;
}
