div.panel {
  --border-radius: 24px;
}

.panel {
  :global(.adm-floating-panel-content) {
    display: flex;
    flex-direction: column;
    margin-top: -1px;
    overflow-y: auto;
  }

  .close-icon {
    font-size: 24px;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .scroll-content {
    overflow-y: auto;
    // Space for bottom toolbar
    margin-bottom: 60px;
    padding-bottom: 12px;
  }
}
