.container {
  display: flex;
  align-items: center;
  width: 240px;

  .btn {
    cursor: pointer;
    min-width: 32px;
    height: 32px;
    margin-right: 8px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;

    &:hover {
      background-color: #eeeeee;
    }

    > img {
      padding: 4px;
    }
  }
}
