@use 'styles/variables' as variables;

.container {
  display: flex;
  @media screen and (min-width: 601px) {
    position: relative;
    z-index: 1;
    top: variables.$topBarHeight;
    width: 100vw;
    height: calc(100vh - variables.$topBarHeight);
    background-color: #ffffff;
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  div[class*='scroll-content'] {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &.desktop {
    z-index: 1000;

    &.windows {
      // Windows desktop titlebar = 30px
      max-height: calc(100vh - variables.$topBarHeight - 30px);
      top: variables.$topBarHeight;
    }
  }
}
