@use '@core/styles/variables' as variables;
@use '@core/styles/mixins' as mixins;

.container {
  display: flex;
  @media screen and (min-width: 601px) {
    position: relative;
    z-index: 1;
    top: variables.$topBarHeight;
    width: 100vw;
    @include mixins.viewport-size($offset: variables.$topBarHeight);
    background-color: #ffffff;
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  div[class*='scroll-content'] {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &.desktop {
    z-index: 1000;

    &.windows {
      // Windows desktop titlebar = 30px
      @include mixins.viewport-size($offset: variables.$topBarHeight + 30px, $property: max-height);
      top: variables.$topBarHeight;
    }
  }
}
