.initialization {
  // local varibles
  $primary-font-color: #808080;
  $primary-background-color: #f8f8f8;

  background: $primary-background-color;
  color: $primary-font-color;
  position: relative;
  z-index: 0;

  .brand-image {
    height: 52px;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 52px;
    display: none;
  }

  .headline {
    font-size: 24px;
    font-weight: 200;
  }

  select {
    background: url("../img/arrow-down.png") #fff no-repeat;
    background-position: calc(100% - 5px) center;
    background-size: 16px 10px;
    border: none;
    border-radius: 0;
    height: 36px;
    padding: 0 0 0 10px;
    width: 250px;
    -webkit-appearance: none;
    appearance: none;
  }

  .home {
    .language {
      margin: 0 0 8px 0;
    }
  }

}
