.wrapper {
  height: 100%;
  flex: 1;
  padding: 20px 40px 0;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    padding: 12px 12px 0;
  }

  .tool-tip {
    color: #7c7c7c;
    cursor: help;
  }
}
