@use './_mixins.scss' as rightPanelMixins;
@use '@core/styles/mixins' as mixins;

.panel {
  @include mixins.is-not-mobile {
    @include rightPanelMixins.panel();
  }

  .node-type-panel {
    padding: 10px;
    transition: height 0.1s ease-in 0s;

    .title {
      @include rightPanelMixins.title();
    }

    .compact-button {
      width: 33.3%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        background-color: #1890ff;
        color: #ffffff;
      }
    }

    .actions {
      width: 100%;

      > div {
        width: calc(50% - 4px);
        &:last-child {
          width: 100%;
        }
        @media screen and (min-width: 601px) {
          &:nth-last-child(2) {
            width: 100%;
          }
        }

        .button {
          @include rightPanelMixins.text-button();
        }
      }
    }
  }

  @include mixins.is-mobile {
    .node-type-panel {
      padding: 5px 30px 0 30px;

      .divider {
        border: none;
        margin: 8px 0;
      }
    }
  }
}
