.number {
  width: 80px;
}

.denominator {
  width: 70px;
}

.preview {
  font-size: 16px;
  padding: 4px 4px;
  background: #f6f8fa;
  border-radius: 6px;
  display: inline-block;
  min-width: 60px;
  text-align: center;
}
