.container {
  display: block;
  position: relative !important;
  width: 100%;
  border-top: solid 1px #ccc;
  background: #ffffff;
  z-index: 998;
  overflow-x: scroll;
  overflow-y: hidden;
  bottom: 0;
  padding: 0 4px;
  &::-webkit-scrollbar {
    display: none;
  }

  :global(.adm-tab-bar-item-icon) {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 32px;

    .badge {
      color: inherit;
      font-size: inherit;

      .flux-plus {
        font-size: 20px;
      }
    }

    .icon {
      margin-right: auto;
    }
  }
}

.sep {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #ccc;
}
