@use './mixins' as mixins;

.title {
  @include mixins.title;
}

.subtitle {
  @include mixins.subtitle;
}

.content {
  @include mixins.content;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 32px;
    line-height: 0;

    img {
      border-radius: 12px;
      width: 420px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .icon {
      font-size: 24px;
    }
  }
}
