@use './mixins' as mixins;

.title {
  @include mixins.title;
}

.subtitle {
  @include mixins.subtitle;
}

.content {
  @include mixins.content;
}

.buttons {
  display: flex;
  gap: 12px;
}

.guides {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
