.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  min-width: 80px;
  font-size: 14px;
  color: #666;
  text-align: right;

  &::after {
    content: ':';
  }
}

.color-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.unit {
  position: absolute;
  font-size: 12px;
  color: #bbbbbb;
  right: 4px;
  top: 25%;
}
