@use "styles/variables" as variables;

.container {
  margin-top: 28px;

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .row {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 12px;

      .title {
        width: 30%;
        text-align: end;
      }

      .control {
        width: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      .radioGroup {
        display: grid;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        grid-template-columns: repeat(3, 16px);
        grid-template-rows: 16px 16px 16px;
        height: fit-content;

        input[type="radio"] {
          width: 16px;
          height: 16px;
        }
      }

      .job-origin-example {
        margin-left: 40px;
        width: 72px;
        height: 72px;
        position: relative;

        > img {
          width: 100%;
          height: 100%;
        }

        .mark {
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 2.5px;
          background: variables.$primary-blue;

          &.l {
            left: calc(11% - 2.5px);
          }

          &.m {
            left: calc(50% - 2.5px);
          }

          &.r {
            left: calc(90% - 2.5px);
          }

          &.t {
            top: calc(12% - 2.5px);
          }

          &.c {
            top: calc(50% - 2.5px);
          }

          &.b {
            top: calc(88% - 2.5px);
          }
        }
      }
    }
  }

  .separator {
    margin: 12px 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;

    .bar {
      background: #e0e0e0;
      width: 100%;
      height: 1px;
    }
  }

  .modules {
    display: flex;
    flex-wrap: wrap;

    $row-height: 24px;

    .row {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      min-height: calc($row-height * 2);
      line-height: $row-height;

      &.full {
        width: 100%;

        .title {
          width: 33%;
          height: $row-height;
        }

        .control {
          display: flex;
          width: 67%;
          height: $row-height;
          align-items: flex-start;

          .subCheckbox {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: unset;
            height: calc($row-height * 2);
            justify-content: start;
            margin-left: 20px;
          }
        }
      }

      .title {
        width: 66%;
        text-align: end;
        padding-right: 8px;

        label {
          &::after {
            content: ":";
            margin-left: 4px;
          }
        }
      }

      .control {
        width: 34%;

        .input {
          width: 120px;
          margin-left: 20px;
        }
        .switch {
          margin: calc(($row-height - 22px) / 2) 0;
        }

        .hint {
          width: 16px;
          height: 16px;
          margin: calc(($row-height - 16px) / 2) 8px;
          color: #7c7c7c;
        }
      }

      .subCheckbox {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: $row-height;

        > label {
          height: 22px;
          margin: calc(($row-height - 22px) / 2) 0;
        }
      }
    }
  }
}
