@use '@core/styles/mixins';
@use '@core/styles/variables';

.subtitle {
  color: variables.$secondary-gray;
}

.buttons {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  @extend %card-button;
}
