@use '@core/styles/mixins' as mixins;
@use '@core/styles/selectors' as selectors;
.modal {
  .close-icon {
    font-size: 22px;
  }
}

.field {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  .select,
  .input {
    width: 100%;
  }
}

.footer {
  @include mixins.footer;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .checkbox {
    margin-right: auto;
  }
}
