// Overwrite antd modal styles
.modal {
  min-width: 100vw;
  max-width: 100vw;
  top: 0;

  :global(.ant-modal-content) {
    width: 540px;
  }

  :global(.ant-input-number) {
    width: 100%;
  }

  :global(.ant-form-item) {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form {
  margin: 28px 0;

  .divider-block {
    display: flex;
    justify-content: center;

    .divider {
      height: 100%;
    }
  }

  .row {
    display: flex;
    gap: 8px;
    justify-content: space-between;

    > div {
      flex: 1;
    }
  }

  .toggle {
    :global(.ant-form-item-row) {
      justify-content: space-between;
    }

    :global(.ant-form-item-label) {
      text-align: start;
    }

    :global(.ant-form-item-control) {
      flex: unset;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  > div {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .csv-block {
    min-width: 0; // Make ellipsis work

    .label {
      white-space: nowrap;
    }
  }
}
