.task {
  height: 100%;

  .info-container {
    position: relative;
    margin-bottom: 10px;

    > img {
      width: 100%;
      max-height: 60vh;
      object-fit: contain;
      outline: 1px solid #bbb;
      outline-offset: -1px;
      background: #f0f0f0;
    }

    .info-bar {
      position: absolute;
      bottom: 6px;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 0 8px;

      .left-text {
        line-height: 32px;
      }

      .right-text {
        line-height: 32px;
        text-align: right;

        @media screen and (max-width: 600px) {
          position: absolute;
          top: -72px;
          right: 0;
          padding: 0 16px;
          border-radius: 16px;
          background-color: black;
        }
      }
    }
  }

  .control-buttons {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 600px) {
      justify-content: center;
    }
  }
}

.icon-framing {
  font-size: 22px;
}

.framing-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;

  .label {
    font-weight: bold;
  }
}
