@media screen and (min-width: 601px) {
  .hidden-desktop {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hidden-mobile {
    display: none !important;
  }

  .adm-tab-bar-item[aria-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
  }

  .beambox-studio #svg_editor {
    left: 0px;
    width: calc(100%);
    &.mac {
      width: calc(100%);
    }
  }

  .beambox-studio {
    .element-title {
      margin-left: 15px;
    }
  }

  .ant-modal-content .ui-control-unit-input-v2 {
    .unit {
      width: 50px;
      text-align: end;
      margin-left: -50px;
      display: inline-block;
    }
  }
}
