@use '@core/styles/variables' as variables;

.course {
  display: flex;
  flex-direction: column;
  height: 560px;
  background: #fff;
}
.credits {
  background: rgba(variables.$reward-yellow, 0.25);
  color: variables.$primary-gray;
}
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 56px;
  padding: 0 10px 0 16px;
  border-bottom: 1px solid variables.$panelBorderColor;
}
.logo {
  font-size: 20px;
}
.actions {
  margin-left: auto;
}
