.flux-login {
    width: 400px;
    height: 520px;
    padding: 23px 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
    .button {
        width: calc(100% - 1px);
        height: 35px;
        line-height: 35px;
        margin: 0 0 8px 0;
        border-radius: 5px;
        font-weight: 500;
        text-align: center;
        border: 1px solid #000;
        cursor: pointer;
        &.primary {
            width: 100%;
            background: #ffd24b;
            border-color: #ffd24b;
            &:hover {
                background: #ffc109;
                border-color: #ffc109;
            }
        }
    }
    input[type=text], input[type=password] {
        width: 100%;
        height: 32px;
        font-size: 14px;
        padding: 0 0 0 10px;
        border: 1px solid #000;
        border-radius: 5px;
        margin: 4px 0;
        &::placeholder {
            color: #aaa;
        }
    }
    .title {
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 14px 0;
    }
    .sub-title {
        color: #2d7eba;
        font-weight: 500;
        text-align: center;
        margin: 0 0 14px 0;
    }
    .oauth {
        .button {
            height: 42px;
            line-height: 42px;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: 14px 8px;
            &.facebook {
                color: #ffffff;
                background-color: #1877f2;
                border-color: #1877f2;
                background-image: url(../img/facebook-icon.svg);
            }
            &.google {
                background-image: url(../img/google-icon.svg);
            }
        }
    }
    .sep {
        display: flex;
        height: 20px;
        margin: 15px 0;
        align-items: center;
        justify-content: space-between;
        color: #aaa;
        &::before,
        &::after {
            content: '';
            display: inline-block;
            width: 40%;
            height: 1px;
            background: #777;
        }
    }
    .login-inputs {
        .options {
            display: flex;
            margin: 10px 0 0 0;
            justify-content: space-between;
            font-size: 12px;
            font-weight: 500;
            .remember-me {
                input[type=checkbox] {
                    width: 16px;
                    height: 16px;
                    margin: 0 5px;
                    cursor: pointer;
                }
                display: flex;
                height: 16px;
                align-items: center;
                cursor: pointer;
            }
            .forget-password {
                cursor: pointer;
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 0 0 0;
        .skip {
            margin: 2px 0 0 0;
            width: fit-content;
            font-weight: 500;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}