.time-est-btn-container {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: $sidePanelWidth;
    margin-right: 5px;
    &.not-mac {
        right: $winSidePanelWidth;
    }
    .time-est-btn {
        cursor: pointer;
        width: 36px;
        height: 36px;
        padding: 7px 8px 9px 8px;
        border-radius: 18px;
        background-color: #999999;
        img {
            height: 20px;
            filter: brightness(0) invert(1);
        }
    }
    .time-est-result {
        font-size: 14px;
        color: #333333;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
}