/**
 * top menu
 */
.top-menu {
    position: absolute;
    width: 100%;
    z-index: 1;
    background: #333;
    height: 85px;
    // overflow: hidden;
    -webkit-app-region: drag;

    .file-title { 
        text-align: center;
        color: #F8F8F8;
        opacity: 0.8;
        position: fixed;
        font-size: 14px;
        line-height: 24px;
        width: 100%;
        height: 24px;
    }
    .title {
        color: white;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin-top: 45px;
    }

    .top-controls {
        display: inline-block;
        margin: 0px 20px 0 20px;
    }
    .zoom-controls {
        height: 75px;
        margin-left: 0px;
    }
    .top-scroll-cue {
        position: relative;
        float: left;
        width: 20px;
        height: 84px;
        text-align: center;
        color: #F8F8F8;
        img {
            opacity: 0.8;
            height: 15px;
            position: relative;
            top: calc(60% - 15px);
            filter: brightness(0) invert(100%);
        }
    }
    .top-btns {
        float: left;
        width: calc(100% - 100px);
        overflow-x: scroll;
        &::-webkit-scrollbar { 
            display: none;
        }
        .top-btn-container {
            height: 85px;
            width: 1100px;
        }
        .top-btn {
            opacity: 0.8;
            padding-top: 27px;
            display: inline-block;
            height: 75px;
            width: 60px;
            text-align: center;
            &.win32 {
                padding-top: 15px;
            }
            img {
                max-width: 28px;
                max-height: 28px;
            }
            .btn-label {
                letter-spacing: 0.5px;
                margin-top: 3px;
                color: #F8F8F8;
                font-size: 11px;
            }

            &.disabled {
                opacity: 0.3;
            }

            &.zoom {
                width: 25px;
                img {
                    max-width: 22px;
                    max-height: 22px;
                    filter: brightness(0) invert(100%);
                }
                .btn-label {
                    color: #F8F8F8;
                    opacity: 0;
                }
            }
            &:hover:not(.disabled) {
                opacity: 1.0;
            }
            &:active:not(.top-dropdown-control):not(.disabled) {
                img {
                    filter: brightness(50%);
                }
                &.zoom {
                    img {
                        filter: brightness(0) invert(100%) brightness(50%);
                    }
                }
                .btn-label { 
                    color: #777777;
                }
            }
        }
    }
    
    
    .top-dropdown-control {
        .arrowup {
            width: 0; 
            height: 0;
            left: 0px;
            margin-top: 10px;
            margin-left: 10px;
            position: relative;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-bottom: 16px solid #333;
            z-index: 1;
        }
        .top-btn {
            padding-top: 15px;
            height: 69px;
        }
        .dropdown-block {
            left: 0px;
            position: relative;
            background: #333;
            background-clip: content-box;
            z-index: 1;
        }
        .top-dropdown-content {
            position: absolute;
            display: none;
        }
        &:hover:not(.disabled) .top-dropdown-content {
            display: block;
        }
    }

    .item {
        color: $primaryColor;
        font-size: 1rem;
        padding: 0;
        text-align: center;
        cursor: pointer;
        width: 90px;

        img {
            height: 3.2rem;
            margin: 0 auto;
            transform-origin: 50% 50%;
            transition: all .25s;
            width: 3.2rem;
        }

        &:hover{
            filter: brightness(80%);
            -webkit-filter: brightness(80%);
        }

        p {
            text-align: center;
            margin: 0;
        }
    }

    .device {
        cursor: pointer;
        font-size: 11px;
        line-height: 2rem;
        position: absolute;
        right: 24px;
        text-align: right;
        text-decoration: none;
        top: 24px;

        &.win32 {
            top: 14px;
        }

        .device-icon {
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 28px;
            opacity: 0.8;
            color: #FFF;
            font-size: 11px;
            font-weight: 500;
            line-height: 12px;
            margin: 0;

            &:hover {
                opacity: 1.0;
            }

            img {
                height: 28px;
                margin: 0 0 7px 0;
                transform-origin: 50% 50%;
                transition: all .25s;
                width: 2em;
            }
        }

        .menu {
            background: #fff;
            display: none;
            position: fixed;
            z-index: 99;
            top: 25px;
            right: 80px;
            border-radius: 2px;

            .arrow {
                left: 100%;
                position: absolute;
                top: 0;
            }

            .device-list {
                cursor: pointer;
                height: 160px;
                list-style: none;
                margin: 0;
                padding: .8rem;
                text-align: left;

                .select-printer {
                    position: relative;
                }

                ul {
                    border: 1px solid $primaryColor;
                    border-radius: 2px;
                    color: $primaryColor;
                    font-family: Helvetica Neue;
                    font-size: 12px;
                    font-weight: 500;
                    height: 100%;
                    margin: 0;
                    overflow-y: scroll;
                    padding: 0;
                    width: 28rem;

                    .spinner-roller {
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    li {
                        @include flexbox();
                        line-height: 2.8rem;

                        label {
                            cursor: pointer;
                        }

                        .name {
                            padding-left: 5px;
                            width: 150px;
                        }

                        .status {
                            width: 110px;
                        }

                        .connection-type {
                            line-height: 20px;
                            padding-right: 10px;

                            img {
                                margin-top: 7px;
                                image-rendering: optimizeSpeed;
                                image-rendering: -moz-crisp-edges;image-rendering: -webkit-optimize-contrast;image-rendering: optimize-contrast;image-rendering: pixelated; -ms-interpolation-mode: nearest-neighbor;
                            }
                        }

                        .progress {
                            width: 50px;
                        }

                        .type {
                            padding-top: 3px;
                        }

                        &:hover {
                            background-color: $primaryColor;
                            color: #FFF;
                        }
                    }
                }
            }
            &.show {
                display: block;
            }
        }
    }

    .always-top {
        .modal-window {
            z-index: 99999;
        }
    }
}

.top-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $topBarHeight;
    background-color: #333;
    -webkit-app-region: drag;
    &.win {
        background-color: #f8f8f8;
        border: 1px solid #e0e0e0;
        border-width: 0 0 1px 0;
        -webkit-app-region: no-drag;
        .preview-button-container {
            position: relative;
            float: left;
            margin-left: 0px;
            overflow: hidden;
            min-width: 50px;
            max-width: 50px;
            .img-container {
                width: 50px;
                padding: 0 13px;
                img {
                    padding: 12px 0;
                    width: 24px;
                    filter: brightness(0);
                }
            }
            &.previewing {
                background-color: unset;
                min-width: 150px;
                max-width: 270px;
                border: 3px solid #595959;
                border-width: 0 0 3px 0;
                .img-container {
                    opacity: 1;
                }
            }
        }
        .element-title {
            position: relative;
            float: left;
            top: 0;
            border: 3px solid #595959;
            border-width: 0 0 3px 0;
            margin-left: 0;
            padding: 0 5px;
            z-index: 1;
            text-shadow: none;
        }
        .hint-container {
            z-index: 1;
            top: 40px;
        }
        .go-button-container {
            position: relative;
            float: right;
            .go-btn {
                border-color: transparent transparent transparent #333333;
            }
        }
        .menu {
            &.camera {
                left: 65px;
                top: 80px;
            }
            &.export {
                top: 37px;
                right: 50px;
            }
        }
    }
    .preview-button-container {
        position: absolute;
        display: inline-flex;
        justify-content: space-between;
        min-width: 40px;
        max-width: 40px;
        height: $topBarHeight;
        margin-left: 80px;
        transition: all 0.1s ease-in-out;
        .img-container {
            width: 40px;
            height: $topBarHeight;
            padding: 0 10px;
            display: inline-flex;
            opacity: 0.7;
            cursor: pointer;
            img {
                padding: 13px 0;
            }
            &:hover {
                opacity: 1;
            }
        }
        &.previewing {
            min-width: 140px;
            max-width: 260px;
            background-color: #eeeeee;
            img {
                filter: brightness(0);
            }
        }
        .title {
            width: calc(100% - 40px);
            height: 100%;
            padding-right: 10px;
            line-height: 40px;
            text-align: center;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #000000;
            opacity: 0.64;
        }
        .cross-wrapper {
            padding: 14px 10px;
            opacity: 0.64;
            width: 30px;
            height: 100%;
            cursor: pointer;
            .bars {
                display: block;
                position: absolute;
                background-color: #000000;
                width: 1.5px;
                height: 12px;
            }
            .bar1 {
                transform: translateX(4.8px) rotate(45deg);
            }
            .bar2 {
                transform: translateX(4.8px) rotate(-45deg);
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    .go-button-container {
        display: inline-flex;
        position: absolute;
        right: 0;
        height: $topBarHeight;
        margin: 0 13px 0 0;
        opacity: 0.85;
        cursor: pointer;
        .go-btn {
            width: 0px;
            height: 0px;
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
            border-width: 7px 0px 7px 12px;
            margin: 13px 0;
        }
        .go-text {
            height: 40px;
            margin-right: 9px;
            line-height: 40px;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 0.95px;
            color: #353535;
        }
        &.no-machine {
            opacity: 0.2;
        }
        &:hover:not(.no-machine) {
            opacity: 1;
        }
    }
    .file-title {
        position: absolute;
        top: 0;
        width: 100%;
        height: $topBarHeight;
        line-height: $topBarHeight;
        font-size: 14px;
        letter-spacing: 1.03px;
        text-align: center;
        color: #ffffff;
    }
    .element-title {
        pointer-events: none;
        position: absolute;
        z-index: 1;
        top: 45px;
        margin-left: 70px;
        height: 40px;
        line-height: 40px;
        color: #333333;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.95px;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
    .hint-container {
        position: absolute;
        z-index: 1;
        top: 80px;
        margin-left: 70px;
        height: 40px;
        line-height: 40px;
        color: #333333;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.95px;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
    .menu {
        background: #fff;
        position: fixed;
        z-index: 99;
        border-radius: 2px;
        &.camera {
            left: 65px;
            top: 50px;
        }
        &.export {
            top: 7px;
            right: 50px;
        }
        .arrow {
            min-width: 10px;
            min-height: 10px;
            width: 13px;
            height: 26px;
            position: absolute;
            top: 0;
            &.arrow-right {
                left: 100%;
            }
            &.arrow-left {
                right: 100%;
            }
        }
        .device-list {
            cursor: pointer;
            height: 160px;
            list-style: none;
            margin: 0;
            padding: .8rem;
            text-align: left;
            .select-printer {
                position: relative;
            }
            ul {
                border: 1px solid #e0e0e0;
                border-radius: 2px;
                color: $primaryColor;
                font-family: Helvetica Neue;
                font-size: 12px;
                font-weight: 500;
                height: 100%;
                margin: 0;
                overflow-y: scroll;
                padding: 0;
                width: 28rem;
                &::-webkit-scrollbar {
                    display: none;
                }
                .spinner-roller {
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                li {
                    @include flexbox();
                    line-height: 2.8rem;
                    label {
                        cursor: pointer;
                    }
                    .name {
                        padding-left: 5px;
                        width: 150px;
                    }
                    .status {
                        width: 110px;
                    }
                    .connection-type {
                        line-height: 20px;
                        padding-right: 10px;

                        img {
                            margin-top: 7px;
                            image-rendering: optimizeSpeed;
                            image-rendering: -moz-crisp-edges;image-rendering: -webkit-optimize-contrast;image-rendering: optimize-contrast;image-rendering: pixelated; -ms-interpolation-mode: nearest-neighbor;
                        }
                    }
                    .progress {
                        width: 50px;
                    }
                    .type {
                        padding-top: 3px;
                    }
                    &:hover {
                        background-color: $primaryColor;
                        color: #FFF;
                    }
                }
            }
        }
    }
    .modal-window {
        background: none;
    }
}