.document-panel {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 550px;
  padding: 0px;
  .main-content {
    padding: 20px;
    .title {
      color: #626262;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
    }
    .sub-title {
      height: 40px;
      line-height: 40px;
      color: #626262;
      font-size: 13px;
      font-weight: 600;
    }
    .controls.disabled {
      opacity: 0.5;
    }
    .control {
      height: 40px;
      display: flex;
      align-items: center;
      .label {
        width: 150px;
      }
      .slider {
        width: 150px;
      }
      .value {
        width: 165px;
        height: 32px;
        padding-left: 10px;
        margin-left: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        color: #888;
        background-color: #fff;
        font-size: 15px;
        line-height: 32px;
      }
      .switch-container {
        margin-left: 0;
        width: 145px;
        font-size: 13px;
        .onoffswitch {
          position: relative;
          float: right;
        }
      }
      .dropdown-container {
        left: 0px;
        height: 100%;
        select {
          margin: 0;
        }
        #workarea_dropdown {
          width: 325px;
          background-position: 300px 9px;
        }
      }
    }
    .controls {
      .label {
        width: 150px;
      }
    }
  }

  .footer {
    height: 59px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0px;
    border-top: 1px solid #ddd;
    .btn {
      margin-left: 12px;
      margin-right: 0px;
      line-height: 30px;
      &:first-of-type {
        margin-right: 12px;
      }
    }
  }
}
