.monitor-left-text {
  line-height: 32px;
}

.monitor-right-text {
  line-height: 32px;
  text-align: right;
}

.monitor-task-info-bar {
  position: absolute;
  bottom: 6px;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 0 8px;
}
