#image-trace-panel-placeholder {
  position: absolute;
  top: 1000px;
}

#cameraCanvas {
  position: relative;
  top: 300px;
}

#original-image {
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
}

#imageTrace {
  z-index: 2;
  position: absolute;
}

.cropper {
  &-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    z-index: 1;
    width: 640px;
    height: 600px;
    touch-action: none;
    user-select: none;

    img {
      display: block;
      height: 100%;
      image-orientation: 0deg;
      max-height: none !important;
      max-width: none !important;
      min-height: 0 !important;
      min-width: 0 !important;
      width: 100%;
    }
  }

  &-wrap-box,
  &-canvas,
  &-drag-box,
  &-crop-box,
  &-modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-wrap-box,
  &-canvas {
    overflow: hidden;
  }

  &-drag-box {
    background-color: #fff;
    opacity: 0;
  }

  &-modal {
    background-color: #000;
    opacity: 0.5;
  }

  &-view-box {
    display: block;
    height: 100%;
    outline-color: rgba(51, 153, 255, 0.75);
    outline: 1px solid #39f;
    overflow: hidden;
    width: 100%;
  }

  &-dashed {
    border: 0 dashed #eee;
    display: block;
    opacity: 0.5;
    position: absolute;

    &.dashed-h {
      border-bottom-width: 1px;
      border-top-width: 1px;
      height: calc(100% / 3);
      left: 0;
      top: calc(100% / 3);
      width: 100%;
    }

    &.dashed-v {
      border-left-width: 1px;
      border-right-width: 1px;
      height: 100%;
      left: calc(100% / 3);
      top: 0;
      width: calc(100% / 3);
    }
  }

  &-center {
    display: block;
    height: 0;
    left: 50%;
    opacity: 0.75;
    position: absolute;
    top: 50%;
    width: 0;

    &:before,
    &:after {
      background-color: #eee;
      content: " ";
      display: block;
      position: absolute;
    }

    &:before {
      height: 1px;
      left: -3px;
      top: 0;
      width: 7px;
    }

    &:after {
      height: 7px;
      left: 0;
      top: -3px;
      width: 1px;
    }
  }

  &-face,
  &-line,
  &-point {
    display: block;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    width: 100%;
  }

  &-face {
    background-color: #fff;
    left: 0;
    top: 0;
  }

  &-line {
    background-color: #39f;

    &.line-e {
      cursor: ew-resize;
      right: -3px;
      top: 0;
      width: 5px;
    }

    &.line-n {
      cursor: ns-resize;
      height: 5px;
      left: 0;
      top: -3px;
    }

    &.line-w {
      cursor: ew-resize;
      left: -3px;
      top: 0;
      width: 5px;
    }

    &.line-s {
      bottom: -3px;
      cursor: ns-resize;
      height: 5px;
      left: 0;
    }
  }

  &-point {
    background-color: #39f;
    height: 5px;
    opacity: 0.75;
    width: 5px;

    &.point-e {
      cursor: ew-resize;
      margin-top: -3px;
      right: -3px;
      top: 50%;
    }

    &.point-n {
      cursor: ns-resize;
      left: 50%;
      margin-left: -3px;
      top: -3px;
    }

    &.point-w {
      cursor: ew-resize;
      left: -3px;
      margin-top: -3px;
      top: 50%;
    }

    &.point-s {
      bottom: -3px;
      cursor: s-resize;
      left: 50%;
      margin-left: -3px;
    }

    &.point-ne {
      cursor: nesw-resize;
      right: -3px;
      top: -3px;
    }

    &.point-nw {
      cursor: nwse-resize;
      left: -3px;
      top: -3px;
    }

    &.point-sw {
      bottom: -3px;
      cursor: nesw-resize;
      left: -3px;
    }

    &.point-se {
      bottom: -3px;
      cursor: nwse-resize;
      height: 20px;
      opacity: 1;
      right: -3px;
      width: 20px;

      @media (min-width: 768px) {
        height: 15px;
        width: 15px;
      }

      @media (min-width: 992px) {
        height: 10px;
        width: 10px;
      }

      @media (min-width: 1200px) {
        height: 5px;
        opacity: 0.75;
        width: 5px;
      }
    }

    &.point-se:before {
      background-color: #39f;
      bottom: -50%;
      content: " ";
      display: block;
      height: 200%;
      opacity: 0;
      position: absolute;
      right: -50%;
      width: 200%;
    }
  }

  &-invisible {
    opacity: 0;
  }

  &-bg {
    background-image: url("../img/bg.png");
  }

  &-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }

  &-hidden {
    display: none !important;
  }

  &-move {
    cursor: move;
  }

  &-crop {
    cursor: crosshair;
  }

  &-disabled &-drag-box,
  &-disabled &-face,
  &-disabled &-line,
  &-disabled &-point {
    cursor: not-allowed;
  }
}

#previewForCropper {
  // width: 640px;
  // height: 600px;
  position: relative;
  opacity: 0.8;
  top: 900px;
}

.photo-edit-panel {
  border-radius: 2px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 0px;
  background-color: #fff;

  .main-content {
    display: flex;
    padding: 20px;
    justify-content: center;
    .image-container {
      display: inline-block;
    }
    .scroll-bar-container {
      width: 140px;
      display: inline-block;
      padding-left: 20px;
      &.sharpen {
        width: 290px;
      }
      .sub-functions {
        margin-top: 10px;
        height: 55px;
        &.with-slider {
          height: 120px;
          width: 270px;
          .controls {
            padding-top: 10px;
            padding-bottom: 5px;
            input {
              width: 40px;
            }
            .slider {
              width: 120px;
            }
          }
        }
        .label {
          color: #888;
          height: 40px;
          line-height: 40px;
          width: 80px;
          font-size: 14px;
        }
        .slider-container {
          margin-right: 10px;

          input {
            width: 120px;
          }
        }
        .icon {
          float: right;
          opacity: 0.3;
          width: 34px;
          height: 34px;
          margin-top: 10px;
          margin-left: 7px;
          &:hover {
            opacity: 0.8;
          }
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
      .btn {
        margin-top: 10px;
        line-height: 30px;
        &.disabled {
          &:hover {
            border: 2px solid #c0c0c0;
            color: #b3b3b3;
          }
        }
      }
    }
    .title {
      color: #626262;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
    .curve-panel {
      margin-left: 20px;
      .curve-control-container {
        width: 260px;
        height: 260px;
        overflow: hidden;
      }
      .curve-control-svg {
        border: 2px solid #b3b3b3;
        width: 260px;
        height: 260px;
        rect {
          cursor: crosshair;
        }
        path {
          cursor: crosshair;
        }
      }
    }
  }
  .footer {
    background: #fff;
    height: 59px;
    margin-bottom: 0px;
    border-top: 1px solid #ddd;
    .btn-h-group {
      display: block;
      height: 100%;
      padding: 12px;
      justify-content: flex-end;
    }
    .btn {
      margin-right: 10px;
      line-height: 30px;
      &:active {
        background-color: #cccccc;
      }
      &.pull-right {
        margin-right: 10px;
        &:first-child {
          margin-right: 0;
        }
      }
      &.pull-left {
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
      &.disabled {
        pointer-events: none;
      }
    }
  }
}
