.container {
  display: flex;
  gap: 32px;

  .thumbnail {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #cecece;
    border-radius: 8px;

    .img-container {
      width: 100%;
      padding-top: 100%;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        left: 0;
        top: 0;
      }

      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: visible;

        line {
          stroke-width: 3px;
          vector-effect: non-scaling-stroke;

          &.gray {
            stroke-width: 1;
            stroke: #cecece;
          }
        }

        .blue {
          stroke: #1890ff;
          fill: #1890ff;
        }

        .orange {
          stroke: #faa22d;
          fill: #faa22d;
        }
      }
    }
  }

  .controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .inputs {
      width: 100%;
    }

    .control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    .input {
      width: 120px;
    }

    .link {
      display: inline-flex;
      align-items: center;
      padding: 0;
      border: 0;
      gap: 5px;

      .icon {
        width: 1em;
        height: 1em;
      }
    }
  }
}

.footer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
