.accordion {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  overflow: hidden;

  .body {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.extra {
  display: flex;
  align-items: center;
}
