.card {
  border: 1px solid #e8e8e8;
  border-radius: 6px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background: #fafafa;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 6px 6px 0 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 16px;
    border: 1px solid #e8e8e8;
    border-width: 1px 0 0;
  }
}
