@mixin button() {
  height: 30px;
  opacity: 0.7;
  cursor: pointer;
  -webkit-app-region: no-drag;
  &.disabled {
    opacity: 0.2;
    pointer-events: none;
  }
  &:hover:not(.disabled) {
    opacity: 1;
  }
  @media screen and (max-width: 600px) {
    &:hover:not(.disabled) {
      opacity: 0.7;
    }
  }
}
