@use './mixins' as mixins;

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel {
  @include mixins.panel;
}

.hint-overlay {
  @include mixins.hint-overlay;
}

button.display-btn[class*='number-item'] {
  min-width: 60px;
}
