.value {
  float: right;
  line-height: 32px;
  font-size: 12px;
}

.panel-item {
  display: inline;
  margin-right: 12px;
}

.input {
  width: 80px;
  float: right;

  :global(.ant-input-number-input) {
    padding: 5px 24px 5px 4px;
  }

  :global(.ant-input-number-suffix) {
    font-size: 9px;
    color: #bbbbbb;
  }

  .unit {
    font-size: 9px;
  }
}
