@use '@core/styles/variables' as variables;
@use '../mixins' as rightPanelMixins;

.config-panel {
  background-color: #f8f8f8;
  height: 100%;
  margin-top: -1px;
  border: 1px variables.$panelBorderColor solid;
  border-width: 1px 0 0 0;
}

.layername {
  line-height: 20px;
  padding: 10px 15px;
  background: #f2f2f2;
  border-bottom: 1px variables.$panelBorderColor solid;
  text-align: left;
  color: #333;
  font-weight: bold;
}

.item-group {
  @include rightPanelMixins.item-group();
  border: 0;
}

.option {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 4px;
  > svg {
    font-size: 24px;
  }
}

.modal {
  .change-layer {
    margin-bottom: 12px;
    .title {
      color: #7c7c7c;
      font-size: 12px;
    }
    .layers {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .layer {
        width: 30px;
        height: 30px;
        border-radius: 4px;
        border: 2px solid white;
        &.active {
          border-color: #0091ff;
        }
      }
    }
  }

  .params {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .select {
    width: 100%;
  }
  [class*='panel'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  padding: 10px 3px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preset-dropdown-container {
  display: flex;
  margin: 0 15px;
  justify-content: space-between;
  align-items: center;

  .preset-dropdown {
    width: 100%;
  }
}
