@use './mixins' as mixins;

.panel {
  @include mixins.panel;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;

  .title {
    white-space: nowrap;
  }

  .select {
    width: 120px;
  }
}
