.container {
  display: inline-flex;
  position: absolute;
  bottom: 20px;
  left: 15px;
  height: 20px;
  font-size: 16px;
  z-index: 1;

  &.mobile {
    left: 15px;
    bottom: 70px;
  }

  .btn {
    cursor: pointer;
    display: inline-flex;
    width: 20px;
    height: 20px;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    img {
      width: 20px;
    }
  }

  .ratio {
    cursor: pointer;
    line-height: 20px;
    margin: 0 10px;
    color: #333333;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
