div.tutorial {
  z-index: 999;
}

.modal {
  :global(.ant-modal-title) {
    // Fix antd title may overlap with cross button
    margin-right: 20px;
  }

  video {
    width: 400px;
  }
}

.hint {
  position: absolute;
  border: 2px solid #0091ff;
  border-radius: 20px;
  pointer-events: none;
}
