@use './mixins' as mixins;

.layout {
  @include mixins.layout;
}

.form {
  @include mixins.form;
}

.field {
  @include mixins.field;
}

.label {
  @include mixins.label;
}

.input {
  @include mixins.input;
}

.preview {
  position: relative;
  display: flex;
  flex: 0 1 380px;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  border: 1px solid rgba(5, 5, 5, 0.06);
  height: 380px;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    flex: 1 1 auto;
    height: 200px;
  }
}

.control {
  width: 160px;

  @media screen and (max-width: 600px) {
    width: 120px;
  }
}

.check-text-option {
  border-color: #1890ff;
}
