.hidden {
  display: none;
}

.visible {
  display: inline-block;
}

.error-span {
  vertical-align: middle;
  text-align: center;
  color: red;
}

.container {
  display: flex;
  min-height: 200px;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 600px) {
    min-height: 100px;
  }
}

.barcode-svg {
  max-width: 1000px;
  width: 100%;
  height: auto;
}
