.toolbar {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 1;

  display: inline-flex;
  align-items: center;
  gap: 0;
  padding: 2px 4px;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 999px;
  user-select: none;
  font-size: 11px;

  :global(.ant-btn-text) {
    color: rgba(255, 255, 255, 0.85);

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      color: white;
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}

.button {
  width: 22px;
  height: 22px;
  min-width: 22px;
  padding: 0;
  font-size: 11px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.divider {
  background-color: rgba(255, 255, 255, 0.3);
  height: 12px;
  margin: 0 3px;
}

.value {
  min-width: 32px;
  text-align: center;
  font-size: 11px;
  color: white;
}
