@mixin bottom-bar() {
  display: flex;
  padding: 8px 12px;
  color: #7c7c7c;
  background-color: #f8f8f8;
  overflow: scroll;
  border: none;
  margin-top: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@mixin item-group() {
  display: flex;
  width: auto;
  height: auto;
  column-gap: 10px;
  flex-wrap: nowrap;
  border: none;
  padding: 0;
  > div:only-child {
    display: none;
  }
}

@mixin title() {
  color: #acacac;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 1.8px;
  margin-bottom: 12px;
}

@mixin text-button() {
  display: flex;
  align-items: center;
  justify-content: center;

  .label {
    font-size: 12px;
  }
}

@mixin icon-input() {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 8px;

  .label {
    display: flex;
    align-items: center;
    width: 30px;
    font-size: 30px;
    margin-left: -3px;
    color: #494949;
  }
}

@mixin option-block() {
  margin: 7px 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  .label {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #333333;

    .icon {
      width: 12px;
      height: 12px;
      margin: 4px 0 4px 4px;
    }
  }

  .option-input {
    width: 40px;
    height: 20px;
    line-height: 20px;
    margin: 0px;

    input {
      height: 20px;
    }

    &.no-unit {
      input {
        padding: 1px;
      }
    }
  }

  &.with-select {
    margin: 2px 0;
  }

  &.with-slider {
    margin-bottom: 0;
  }
}
