.btn {
  position: absolute;
  cursor: pointer;
  padding: 0;
  bottom: 4px;
  right: 4px;
  font-size: 24px;
  z-index: 1;
  background: none;
  border: none;
}

@media screen and (max-width: 600px) {
  .btn {
    top: 8px;
    left: 8px;
    z-index: 999;
    width: 30px;
    height: 30px;
    font-size: 28px;
  }
}
