@use '@core/styles/selectors' as selectors;

.btn {
  position: absolute;
  cursor: pointer;
  padding: 0;
  bottom: 4px;
  right: 4px;
  font-size: 24px;
  z-index: 1;
  background: none;
  border: none;
}

@include selectors.tablet-or-mobile-layout {
  .btn {
    position: unset;
    font-size: 28px;
    line-height: 0;
  }
}
