@use '@core/app/components/beambox/RightPanel/_mixins' as mixins;
@use '@core/styles/variables' as variables;

$handle-height: 10px;
$layer-background: white;

.hide {
  display: none;
}

.container {
  width: 100%;
  // 40px = tab height
  height: calc(100% - 40px);
  background-color: #f8f8f8;
  border: 1px variables.$panelBorderColor solid;
  border-width: 0 0 1px 1px;
  @media screen and (min-width: 601px) {
    overflow-y: scroll;
  }
}

.floating-panel [class*='scroll-content'] {
  // scrolling is handled by layerlist_container
  overflow-y: auto;
  margin-bottom: 120px;
  padding-bottom: 0;
}

.layer-bottom-bar {
  @include mixins.bottom-bar();
  position: relative;
  z-index: 901;
}

.layer-panel {
  background-color: $layer-background;
  display: block;
  overflow: initial;
  height: calc(100% - $handle-height);
  width: 100%;
  position: relative;

  :global(.react-contextmenu-wrapper) {
    height: 100%;
    width: 100%;

    .layerlist-container {
      position: relative;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.handle {
  cursor: ns-resize;
  position: absolute;
  bottom: 0;
  background-color: $layer-background;
  border: 1px #e5e5e5 solid;
  border-width: 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $handle-height;
  font-size: 18px;
  box-sizing: content-box;
  &:hover {
    background-color: #f8f8f8;
  }
}
