@use './_mixins.scss' as mixins;

.container {
  &.hide {
    display: none;
  }

  width: 100%;
  height: calc(100% - 40px);
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-width: 0 0 1px 1px;
  overflow-y: scroll;

  @media screen and (max-width: 600px) {
    @include mixins.bottom-bar();
    min-height: 0;
    height: 62px;
  }

  .tools {
    @media screen and (max-width: 600px) {
      @include mixins.item-group();
    }
  }

  .row {
    height: 41px;
    background-color: #ffffff;
    border: solid #e0e0e0;
    border-width: 0 0 1px 0;

    .half {
      width: 50%;
      height: 100%;
      padding: 0 8px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-items: center;
    }

    .left {
      float: left;
      border: solid rgba(0, 0, 0, 0);
      border-width: 0 1px 0 0;

      &.sep {
        border: solid #e0e0e0;
        border-width: 0 1px 0 0;
      }
    }

    .right {
      float: right;
    }
  }

  :global(.ui-control-unit-input-v2) {
    height: 25px;
    line-height: 25px;
    margin: 10px 0;
    border: solid #d9d9d9;
    border-width: 0 0 1px 0;

    input {
      width: 40px;
      height: 25px;
      font-size: 12px;
      padding: 1px 24px 1px 4px;
      border: 1px solid transparent;
      background-color: unset;
      color: #333333;
      &:focus,
      &:focus-visible {
        outline: none;
        border-color: #1890ff;
      }
    }

    span {
      display: inline-flex;
      justify-content: flex-end;
      width: 18px;
      margin-left: -21px;
      font-size: 12px;
      color: #bbbbbb;
    }
  }
}
