@use './_mixins.scss' as mixins;

.container {
  @include mixins.item-group();
}

.panel {
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-width: 0 0 1px 0;
  transition: height 0.1s ease-in 0s;

  .title {
    @include mixins.title();
    &:only-child {
      margin-bottom: 4px;
    }
  }

  .option-block {
    @include mixins.option-block();
  }
}
