.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow-x: scroll;
  -webkit-app-region: no-drag;

  &::-webkit-scrollbar {
    display: none;
  }

  .tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tab {
    width: 120px;
    position: relative;
    flex: 1;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    background-color: #333333;
    color: #c2c2c2;
    font-size: 14px;
    line-height: 22px;
    height: 100%;
    padding-left: 8px;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      width: 1px;
      height: 24px;
      background-color: #525252;
    }

    &.small {
      min-width: 40px;
      max-width: 40px;
      padding: 0;
      justify-content: center;

      .icon {
        font-size: 20px;
      }
    }

    &.focused {
      color: #333333;
      background-color: #f0f0f0;

      .icon {
        color: #333333;
      }

      &::after {
        content: none;
      }
    }

    .icon {
      color: #c2c2c2;
      font-size: 24px;

      &.loading {
        font-size: 14px;
        margin-right: 4px;
      }
    }

    .name {
      width: calc(100% - 32px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .asterisk {
        margin-left: 4px;
      }
    }

    .close {
      padding: 0 12px;
      font-size: 8px;
      color: #525252;

      &:hover {
        color: #c2c2c2;
      }
    }
  }

  .add {
    flex: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #c2c2c2;
    font-size: 16px;
    width: 30px;
    min-width: 30px;
    height: 30px;
    text-align: center;

    &:hover {
      color: #ffffff;
    }
  }
}

.inverse {
  .tab {
    &.focused {
      color: #d9d9d9;
      background-color: #484848;

      .icon {
        color: #d9d9d9;
      }
    }
  }
}
