.container {
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.1px;
  white-space: pre;
  color: #999999;
  font-weight: 600;
  height: 100%;

  .info {
    padding: 5px 0;
    color: #333333;
  }
}
