@use "./connection_setting_page" as connectionSettingPage;

@keyframes pulse {
  0% {
    transform: (scale(0.8));
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}

.container {
  @include connectionSettingPage.container;

  .main {
    .image {
      width: 300px;
      margin-top: -60px;

      img {
        width: 300px;
        margin: -126px 0px 0 26px;
        position: relative;
      }

      .c1 {
        margin: 32px 0 0 82px;
      }
      .c2 {
        margin: -133px 0px 0px 177px;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
        margin-top: 0;

        .circle {
          &.c1 {
            margin: 10px 0 0 -42px;
          }
          &.c2 {
            margin: 146px 0 0 42px;
          }
        }

        img {
          margin: 0;
        }
      }
    }

    .text {
      .contents {
        .subtitle {
          font-size: 14px;
          font-weight: 500;
          color: #000000;
        }
      }
    }
  }
}
