@use "./connection_setting_page" as connectionSettingPage;

.container {
  @include connectionSettingPage.container;

  .main {
    .image {
      margin-top: -60px;

      img {
        width: 138px;
        margin: -98px 0px 0 26px;
        position: relative;
      }

      .c2 {
        margin: -98px 0px 0px 98px;
      }

      @media screen and (max-width: 600px) {
        margin-top: 0;

        .circle {
          &.c1 {
            margin: 3px 0 0 -44px;
          }
          &.c2 {
            margin: 156px 0 0 44px;
          }
        }

        img {
          margin: 0;
          padding-top: 10px;
        }
      }
    }
  }
}
