@use '../_mixins.scss' as mixins;

.option-block {
  @include mixins.option-block();
  margin: 0;
  gap: 8px;

  + .option-block {
    margin-top: 8px;
  }

  .label {
    flex: 1 0 25%;
    min-width: 0;
  }

  .select {
    flex: 1 1 75%;
    min-width: 0;
  }

  &.no-label .select {
    flex: 1 1 100%;
  }

  :global(.ant-select) {
    padding: 5px 0 1px 0;
    :global(.ant-select-selector) {
      border-width: 0 0 1px 0 !important;
    }
  }
}

.button {
  :global(.ant-btn-icon) {
    font-size: 24px;
  }
}

.downIcon {
  margin-left: 4px;
  transition: transform 0.3s ease;

  &.active {
    transform: rotate(180deg);
  }
}
