@use '@core/styles/variables' as variables;

.input {
  :global(.ant-input-number-input) {
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 25px;

    &:focus {
      border-color: variables.$primary-blue;
    }
  }
}
