@use './mixins' as mixins;

.block {
  @include mixins.modal-block;

  :global(.ant-slider),
  :global(.ant-slider:hover) {
    :global(.ant-slider-rail) {
      border: 1px solid #cecece;
    }
  }

  &.c {
    :global(.ant-slider),
    :global(.ant-slider:hover) {
      :global(.ant-slider-rail) {
        background-color: #ffffff;
        background-image: linear-gradient(
          to right,
          rgba(0, 255, 255, 0),
          rgba(0, 255, 255, 1)
        );
      }
    }
  }

  &.m {
    :global(.ant-slider),
    :global(.ant-slider:hover) {
      :global(.ant-slider-rail) {
        background-color: #ffffff;
        background-image: linear-gradient(
          to right,
          rgba(255, 0, 255, 0),
          rgba(255, 0, 255, 1)
        );
      }
    }
  }

  &.y {
    :global(.ant-slider),
    :global(.ant-slider:hover) {
      :global(.ant-slider-rail) {
        background-color: #ffffff;
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 0, 0),
          rgba(255, 255, 0, 1)
        );
      }
    }
  }

  &.k {
    :global(.ant-slider),
    :global(.ant-slider:hover) {
      :global(.ant-slider-rail) {
        background-color: #ffffff;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1)
        );
      }
    }
  }

  :global(.ant-input-number-suffix) {
    margin-right: 0;
  }
}
