@use '@core/styles/variables' as variables;

.container {
  margin: 6px 15px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    font-weight: 700;
    color: #aaaaaa;
    font-size: 13px;
  }

  > div {
    height: 20px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  button {
    height: 100%;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: variables.$primary-gray;
    font-size: 20px;

    &:hover {
      color: variables.$secondary-gray;
    }
  }
}
