@use '../../abstracts/mixins';
@use '../../abstracts/variables';

#svg_editor {
  color: #000;
  font-size: 10pt;

  .react-contextmenu--visible {
    z-index: 5;
  }
}
* {
  touch-action: manipulation;
}
