@use 'styles/variables' as variables;

.sidepanels {
  border: none;
  position: fixed;
  background-color: #f8f8f8;
  width: variables.$sidePanelWidth;
  padding: 0px;
  opacity: 1;
  overflow-x: visible;
  overflow-y: hidden;
  z-index: 2;
  top: 40px;
  height: calc(100% - 40px);
  right: 0;
  transition: opacity 0.3s;

  &.short {
    top: 70px;
    height: calc(100% - 70px);
  }

  &.wide {
    width: variables.$winSidePanelWidth;
  }

  &:hover {
    opacity: 1;
    z-index: 4;
  }

  @media screen and (max-width: 600px) {
    top: unset;
    bottom: 56px;
    left: 0;
    width: 100vw !important;
    height: fit-content;
    background-color: transparent;
  }
}
