@use '@core/styles/variables' as variables;

.container {
  background: #f8f8f8;
  padding: 15px;

  .label {
    white-space: nowrap;
    margin: -15px -15px 15px -15px;
    display: block;
    padding: 10px 15px;
    background: #f2f2f2;
    border-bottom: 1px #e0e0e0 solid;
    color: #333;
    font-weight: bold;
  }

  .select {
    width: 100%;
  }

  &:not(:last-of-type) {
    border: 1px solid variables.$panelBorderColor;
    border-width: 0 0 1px 0;
  }
}
