@use '@core/app/views/beambox/Right-Panels/_mixins' as rightPanelMixins;
@use '@core/styles/variables' as variables;
@use '@core/styles/mixins' as mixins;

$handle-height: 10px;
$layer-background: white;

.hide {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  font-size: 10pt;

  @include mixins.is-not-mobile {
    @include rightPanelMixins.panel();
  }
}

.floating-panel [class*='scroll-content'] {
  // scrolling is handled by layerlist_container
  overflow-y: auto;
  margin-bottom: 120px;
  padding-bottom: 0;
}

.layer-bottom-bar {
  @include rightPanelMixins.bottom-bar();
  position: relative;
  z-index: 901;
}

.layer-panel {
  background-color: $layer-background;
  display: block;
  overflow: initial;
  height: calc(100% - $handle-height);
  width: 100%;
  position: relative;
  @include mixins.is-mobile {
    width: 100vw;
    height: 100%;
    border: none;
  }

  :global(.react-contextmenu-wrapper) {
    height: 100%;
    width: 100%;

    .layerlist-container {
      position: relative;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
      @include mixins.is-mobile {
        left: 0;
        width: 100vw;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.handle {
  cursor: ns-resize;
  position: absolute;
  bottom: 0;
  background-color: $layer-background;
  border: 1px #e5e5e5 solid;
  border-width: 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $handle-height;
  font-size: 18px;
  box-sizing: content-box;
  &:hover {
    background-color: #f8f8f8;
  }
}
