@use '@core/styles/variables' as variables;

.sidepanels {
  border: none;
  background-color: #f8f8f8;
  height: 100%;
  padding: 0px;
  opacity: 1;
  overflow-x: visible;
  overflow-y: hidden;
  transition: opacity 0.3s;

  @media screen and (max-width: 600px) {
    position: fixed;
    z-index: 2;
    top: unset;
    bottom: 56px;
    left: 0;
    width: 100vw !important;
    height: fit-content;
    background-color: transparent;
  }
}
