#laser-panel {
  background-color: #f8f8f8;
  height: 100%;
  margin-top: -1px;
  border: 1px $panelBorderColor solid;
  border-width: 1px 0 0 0;
  border-radius: 4px;

  .layername {
    line-height: 20px;
    padding: 10px 15px;
    background: #f2f2f2;
    border-bottom: 1px $panelBorderColor solid;
    text-align: left;
    color: #333;
    font-weight: bold;
  }
  .layerparams {
    padding: 10px 3px;
  }
  .preset-dropdown-containter {
    display: flex;
    margin: 0 15px 0 0;
    justify-content: space-between;
    align-items: center;
    .controls {
      width: calc(100% - 35px);
    }
  }
  .add-preset-btn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    &:hover:not(.disabled) {
      opacity: 1;
    }
    &.disabled {
      opacity: 0.3;
      cursor: default;
    }
    img {
      filter: brightness(0);
    }
    .bar {
      position: absolute;
      width: 2px;
      height: 14px;
      border-radius: 1px;
      border: 1px solid #000000;
      background-color: #000000;
    }
    .bar1 {
      transform: translateX(6px);
    }
    .bar2 {
      transform: translateX(14px) rotate(90deg) translateX(6px);
    }
  }
  .addon-block {
    .label {
      height: 40px;
      line-height: 20px;
      padding: 10px 15px;
      background: #f2f2f2;
      border: 1px $panelBorderColor solid;
      border-width: 1px 0;
      text-align: left;
      color: #333;
      font-weight: bold;
    }
    .addon-setting {
      padding: 10px 3px;
    }
  }
  .controls {
    overflow: hidden;

    .control {
      line-height: 0;
      width: 100%;
    }
    .label {
      font-size: 10pt;
      color: #000;
      line-height: 16px;
      padding-left: 10px;
    }
    .dropdown-container {
      position: static;
      width: 100%;

      :focus {
        outline: none;
      }

      select {
        background-color: #fff;
        font-size: 10pt;
        color: #000;
        width: calc(100% - 29px);
        margin: 5px 0 5px 15px;
      }
      &.more-than-one {
        select {
          background-image: url("../img/icon-3d-arrow-down.png");
          background-position: calc(100% - 4px) center;
          background-repeat: no-repeat;
          background-size: 8px 8px;
        }
      }
    }
  }
}
