#layerpanel {
  background-color: $backgroundColor;
  display: block;
  overflow: initial;
  border: 1px $panelBorderColor solid;
  border-width: 0 0 1px 0;

  #layerbuttons {
    padding: 0;
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    .layer_button {
      font-size: 12px;
      padding: 3px 0;
      &:hover {
        background-color: #808080;
        color: white;
        cursor: pointer;
      }
    }
  }
  #layerlist {
    width: 100%;
    .layercolor {
      width: 24px;
      div {
        cursor: pointer;
        position: relative;
        border: 2px solid white;
        border-radius: 4px;
        background: black;
        width: 14px;
        height: 14px;
        margin-left: 10px;
      }
    }
    .layer {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 40px;
      border: 1px solid #ffffff;
      border-width: 0 0 0 5px;
      &:hover {
        color: black;
        background-color: #dddddd;
        border-color: #dddddd;
      }
      .vis-icon {
        filter: brightness(0);
      }
      .layer-row {
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 30px;
      }
      .drag-sensor-area {
        width: 100%;
        height: 5px;
      }
      .layername {
        width: 140px;
        padding: 3px 0px;
        margin-left: 5px;
        text-align: center;
        cursor: pointer;
      }
      &.layersel {
        color: white;
        background-color: #444444;
        border-color: #444444;
        font-weight: normal;
        &:hover:not(.current) {
          color: white;
          background-color: #444;
          border-color: #444444;
        }
        &.current {
          border-color: #0091ff;
        }
        .vis-icon {
          filter: brightness(0) invert(1);
        }
      }
      .layervis {
        display: flex;
        align-items: center;
        width: 24px;
        height: 25px;
        text-align: center;
        margin: 0 0 0 5px;
        cursor: pointer;
      }
      .layerlock {
        width: 24px;
        margin: 0 5px 0 0;
        cursor: pointer;
        img {
          display: none;
          filter: brightness(0%);
        }
      }
      &.layersel .layerlock {
        img {
          filter: brightness(0%) invert(100%);
        }
      }
      &.lock .layerlock {
        img {
          display: block;
        }
      }

      &.mark,
      &.mark:hover {
        color: white;
        border: 1px solid #666 !important;
        background-color: #666 !important;
        font-weight: normal;
      }
    }
    .drag-bar {
      width: 100%;
      height: 2px;
      background-color: #0091ff;
    }
  }

  #drag-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: transparent;
    .layer-back {
      position: absolute;
      width: 100%;
      height: 40px;
      background-color: #444;
      border: 1px solid #fff;
    }
    .layercolor {
      width: 24px;
      div {
        cursor: pointer;
        position: relative;
        border: 2px solid white;
        border-radius: 4px;
        background: black;
        width: 14px;
        height: 14px;
        margin-left: 10px;
      }
    }
    .layervis {
      text-align: center;
      margin: 0 5px;
      &.layerinvis {
        i {
          display: none;
        }
      }
    }
    .layer {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 40px;
      color: white;
      background-color: #444;
      border: 1px solid #fff;
      font-weight: normal;
      .layer-row {
        display: flex;
        align-items: center;
        min-height: 30px;
      }
      .drag-sensor-area {
        width: 100%;
        height: 5px;
      }
      .layername {
        width: 150px;
        padding: 3px 0px;
        margin-left: 10px;
        text-align: center;
      }
      .layerlock {
        width: 14px;
        margin: 0 5px;
        cursor: pointer;
        img {
          display: none;
          height: 13px;
          filter: brightness(0%);
        }
      }
      &.layersel .layerlock {
        img {
          filter: brightness(0%) invert(100%);
        }
      }
      &.lock .layerlock {
        img {
          display: block;
        }
      }
      &.mark,
      &.mark:hover {
        color: white;
        border: 1px solid #666 !important;
        background-color: #666 !important;
        font-weight: normal;
      }
    }
  }
}
#layerlist_container {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  background: white;
  height: 240px;
}
.add-layer-btn {
  position: absolute;
  cursor: pointer;
  top: 215px;
  right: 20px;
  width: 13px;
  height: 13px;
  .bar {
    position: absolute;
    border: 1px solid #ffffff;
    width: 4px;
    height: 13px;
    border-radius: 2px;
    background-color: #444444;
  }
  .bar1 {
    transform: translateX(4.5px);
  }
  .bar2 {
    transform-origin: 0 0;
    transform: translateX(13px) rotate(90deg) translateX(4.5px);
  }
  .bar3 {
    width: 2px;
    height: 11px;
    border: 1px solid #444444;
    border-radius: 1px;
    transform: translateX(5.5px) translateY(1px);
  }
}

.selLayerBlock {
  background: #f8f8f8;
  padding: 15px;
  margin-top: -1px;
  #selLayerNames {
    background-color: #ffffff;
    height: 30px;
    width: 100%;
    padding: 0 0 0 10px;
    background-position: calc(100% - 4px);
    cursor: pointer;
  }
  #selLayerLabel {
    margin: -15px -15px 15px -15px;
    display: block;
    padding: 10px 15px;
    background: #f2f2f2;
    border-bottom: 1px #e0e0e0 solid;
    color: #333;
    font-weight: bold;
  }
}

#layer-laser-panel-placeholder {
  background-color: #f8f8f8;
  height: 100%;
  margin-top: -1px;
  border: 1px $panelBorderColor solid;
  border-width: 1px 0 0 0;
  border-radius: 4px;
}
