#object-panel {
  width: 100%;
  min-height: calc(100% - 40px);
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-width: 0 0 1px 1px;
  .ui-control-unit-input-v2 {
    height: 25px;
    line-height: 25px;
    margin: 10px 0;
    border: solid #e0e0e0;
    border-width: 0 0 1px 0;
    input {
      width: 40px;
      height: 25px;
      font-size: 12px;
      padding: 1px 18px 1px 1px;
      border: none;
      background-color: unset;
      color: #333333;
    }
    .unit {
      margin-left: -16px;
      font-size: 9px;
      color: #bbbbbb;
    }
  }
  .tool-btns-row {
    height: 41px;
    background-color: #ffffff;
    border: solid #e0e0e0;
    border-width: 0 0 1px 0;
    .half-row {
      width: 50%;
      height: 100%;
      padding: 0 8px;
    }
    .left {
      float: left;
      padding-left: 12px;
      border: solid rgba(0, 0, 0, 0);
      border-width: 0 1px 0 0;
      &.sep {
        border: solid #e0e0e0;
        border-width: 0 1px 0 0;
      }
    }
    .right {
      float: right;
      padding-right: 12px;
    }
    .tool-btn {
      width: 25%;
      height: 100%;
      display: inline-flex;
      justify-content: center;
      opacity: 0.7;
      &.disabled {
        opacity: 0.3;
      }
      &:hover:not(.disabled) {
        opacity: 1;
      }
      img {
        width: 24px;
      }
    }
  }
  .dimension-panel {
    width: 100%;
    height: 91px;
    padding: 0 9px 0 12px;
    border: 1px solid #e0e0e0;
    border-width: 0 0 1px 0;
    display: flex;
    flex-wrap: wrap;
    .dimension-container {
      display: inline-flex;
      width: 33%;
      height: 45px;
      padding: 0 0px 0 4px;
      .label {
        width: 16px;
        line-height: 45px;
        font-size: 9px;
        color: #777777;
        &.img {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          img {
            width: 10px;
            margin-right: 6px;
            filter: brightness(0);
            opacity: 0.65;
          }
        }
      }
      input {
        width: 50px;
      }
    }
    .dimension-lock {
      display: inline-flex;
      width: 16px;
      margin: 0 0 0 4px;
      img {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
    .flip-btn-container {
      display: flex;
      justify-content: flex-end;
      width: calc(33% - 20px);
      height: 45px;
      .tool-btn {
        width: 24px;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        opacity: 0.7;
        &.disabled {
          opacity: 0.3;
        }
        &:hover:not(.disabled) {
          opacity: 1;
        }
        img {
          width: 24px;
        }
      }
    }
  }
  .options-panel {
    padding: 0 16px 5px 16px;
    border: 1px solid #e0e0e0;
    border-width: 0 0 1px 0;
    transition: height 0.1s ease-in 0s;
    .title {
      width: 100%;
      padding: 10px 0;
      color: #aaaaaa;
      font-size: 9px;
      letter-spacing: 2px;
    }
    .option-block {
      margin: 7px 0;
      display: inline-flex;
      width: 100%;
      justify-content: space-between;
      .label {
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        font-weight: 600;
        color: #333333;
      }
      .option-input {
        width: 40px;
        height: 20px;
        line-height: 20px;
        margin: 0px;
        input {
          height: 20px;
        }
      }
      .select-container {
        width: 140px;
        select {
          font-size: 12px;
          padding: 0 10px 0 5px;
          border-radius: 0px;
          margin: 0;
          line-height: 19px;
          &.no-triangle {
            background-image: none;
          }
        }
        .font-react-select-container {
          .react-select__control {
            min-height: unset;
            padding: 0 0 0 5px;
            background-image: url("../img/icon-3d-arrow-down.png");
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: calc(100% - 4px) center;
            background-size: 8px 8px;
            border-width: 0 0 1px 0;
            border-radius: 0;
            border-color: #e0e0e0;
            font-size: 12px;
            line-height: 19px;
            &.react-select__control--is-focused {
              border-radius: 1px;
            }
          }
          .react-select__value-container {
            padding: 0;
            height: 19px;
            .react-select__single-value {
              max-width: calc(100% - 12px);
              margin: 0;
              letter-spacing: 0.3px;
            }
            .react-select__input {
              input {
                height: 19px;
              }
            }
          }
          .react-select__indicators {
            display: none;
          }
          .react-select__option {
            font-size: 12px;
          }
          &.no-triangle {
            .react-select__control {
              background-image: none;
            }
          }
        }
      }
      .onoffswitch {
        width: 26px;
        margin: 3px 0;
        &.partially-filled {
          opacity: 0.7;
        }
        .onoffswitch-label {
          height: 14px;
          border: none;
          border-radius: 7px;
        }
        .onoffswitch-switch {
          right: 12px;
          width: 10px;
          height: 10px;
          border: none;
          border-radius: 5px;
          margin: 2px;
          transition: all 0.1s ease-in 0s;
        }
        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
          right: 0;
        }
        .onoffswitch-inner {
          transition: margin 0.1s ease-in 0s;
          &::before {
            background-color: #0091ff;
          }
        }
      }
      .threshold-slider {
        width: 100%;
        &::-webkit-slider-thumb {
          width: 15px;
          height: 15px;
          border-radius: 7.5px;
          background-color: #fdfdfd;
          border: none;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        }
        &::-webkit-slider-runnable-track {
          height: 6px;
          border-radius: 25px;
          border: 1px solid #ededed;
          background-blend-mode: overlay, normal;
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
            linear-gradient(to right, #333333, #ffffff);
        }
      }
      &.with-slider {
        margin-bottom: 0;
      }
      &.slider-container {
        margin-top: 0;
      }
    }
  }
  .actions-panel {
    padding: 0 16px 5px 16px;
    transition: height 0.1s ease-in 0s;
    .title {
      width: 100%;
      padding: 10px 0;
      color: #aaaaaa;
      font-size: 9px;
      letter-spacing: 2px;
    }
    .btns-container {
      width: 100%;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .btn-container {
        width: 100%;
        &.half {
          width: calc(50% - 4.5px);
        }
      }
      .btn {
        width: 100%;
        height: 20px;
        padding: 0;
        margin: 6px 0;
        border: 1px solid #e0e0e0;
        font-size: 12px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.8);
        background-color: #fefefe;
        &.disabled {
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
}
