@use '@core/styles/variables' as variables;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 6px;

    .row {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 6px 5%;
      min-height: 48px;

      &.full {
        display: block;

        .sub {
          width: 100%;
          box-sizing: border-box;
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;

          .left {
            grid-column: 1 / 2;
            justify-self: start;
          }

          .right {
            grid-column: 2 / 3;
            justify-self: end;
          }

          .desc {
            font-style: italic;
            color: #6a6a6a;
            font-size: 12px;
          }

          .icon {
            cursor: pointer;
            margin-left: 8px;
            color: #666;
          }
        }
      }

      .title {
        .icon {
          margin-left: 8px;
        }
      }

      .control {
        min-width: 50%; // for select control
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        gap: 4px;
      }

      .segmented {
        width: 100%;

        :global(.ant-segmented-item) {
          flex: 1 1 50%;
        }

        :global(.ant-segmented-item-selected) {
          outline: 1px solid variables.$primary-blue;
        }
      }

      .radioGroup {
        display: grid;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        grid-template-columns: repeat(3, 16px);
        grid-template-rows: 16px 16px 16px;
        height: fit-content;

        input[type='radio'] {
          width: 16px;
          height: 16px;
        }
      }

      .job-origin-example {
        margin-left: 40px;
        width: 72px;
        height: 72px;
        position: relative;

        > img {
          width: 100%;
          height: 100%;
        }

        .mark {
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 2.5px;
          background: variables.$primary-blue;

          &.l {
            left: calc(11% - 2.5px);
          }

          &.m {
            left: calc(50% - 2.5px);
          }

          &.r {
            left: calc(90% - 2.5px);
          }

          &.t {
            top: calc(12% - 2.5px);
          }

          &.c {
            top: calc(50% - 2.5px);
          }

          &.b {
            top: calc(88% - 2.5px);
          }
        }
      }

      &:not(:last-of-type) {
        &::after {
          content: '';
          position: absolute;
          left: 5%;
          right: 5%;
          bottom: -1px;
          height: 1px;
          background: #e6e6e6;
          pointer-events: none;
        }
      }
    }
  }

  .separator {
    font-weight: bold;
    white-space: nowrap;
  }
}
