.container {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 12px;
  align-items: center;

  label {
    text-align: end;
  }

  .control {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;

    .input {
      width: 120px;
    }

    .hint {
      width: 16px;
      height: 16px;
      margin: 0 4px;
      color: #7c7c7c;
    }

    .select {
      width: 64px;
      height: 32px;
    }
  }
}
