@use '@core/styles/variables' as variables;

.device-list {
  cursor: pointer;
  height: 160px;
  list-style: none;
  margin: 0;
  margin-top: 12px;
  text-align: left;
  ul {
    border: 1px solid #cecece;
    border-radius: 4px;
    color: #333333;
    font-family: Helvetica Neue;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 4px;
    width: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
    .spinner {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      margin: auto;
      bottom: 0;
      left: 0;
      right: 0;
      top: 36px;
      .icon {
        font-size: 40px;
        color: #dddddd;
      }
    }
    li {
      display: flex;
      width: 100%;
      height: 30px;
      padding: 0px 12px;
      border-radius: 2px;
      align-items: center;
      justify-content: space-between;
      label {
        cursor: pointer;
      }
      .name {
        width: 160px;
        margin-right: 8px;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .status {
        display: flex;
        width: 124px;
        height: 20px;
        padding: 0px 8px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        &.blue {
          border-color: variables.$primary-blue;
          color: variables.$primary-blue;
        }
        &.grey {
          border-color: variables.$secondary-gray;
          color: variables.$secondary-gray;
        }
        &.orange {
          border-color: variables.$status-warning;
          color: variables.$status-warning;
        }
        &.red {
          border-color: variables.$status-critical;
          color: variables.$status-critical;
        }
        &.green {
          border-color: variables.$status-normal;
          color: variables.$status-normal;
        }
      }
      .connection-type {
        display: flex;
        font-size: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ababab;
      }
      &:hover {
        background-color: #e9f4fe;
      }
      &.selected {
        background-color: #e9f4fe;
        .name {
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .device-list ul li {
    padding-right: 0px;
    gap: 0;
    .name {
      width: 120px;
      margin-right: 8px;
    }
  }
}
