.container {
  display: flex;
  gap: 12px;

  position: fixed;
  z-index: 1;
  width: max-content;
  top: 90px;
  left: 70px;

  &.win {
    top: 120px;
  }

  .svg-nest-button {
    background: #999;
    color: white;
    height: 32px;
    z-index: 2;
    border-radius: 20px;
    float: left;
    margin-right: 15px;
    cursor: pointer;

    &.active {
      background: #0099cc;
    }
    .text {
      height: 32px;
      line-height: 32px;
      font-size: 9pt;
      text-align: center;
      padding: 0px 20px;

      &.with-img {
        padding-left: 35px;
      }
    }
    img {
      margin: 8px 0px 0px 10px;
      height: 16px;
      filter: brightness(0) invert(100%);
      float: left;
    }
  }
}
