.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  display: flex;
  align-items: center;
}

.input-group {
  display: flex;
  align-items: center;
}

.reset-button {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  color: #999;
  transition: all 0.2s;

  &:hover {
    color: #1890ff;
  }
}

.input {
  width: 120px;
}
