@use '@core/styles/mixins' as mixins;

$padding: 2px;

.block {
  position: relative;
  border-radius: 8px;
  padding: $padding;
  margin: -$padding;

  @include mixins.is-desktop {
    display: flex;
  }
}

.button {
  margin-left: 4px;
  @include mixins.is-desktop {
    font-size: 20px;
  }
}

.button-top-right {
  position: absolute;
  top: $padding;
  right: $padding;
}

.editable {
  color: #1890ff;
}

// TODO: decide UI for partial
.partial {
  color: #faad14;
}

.highlight {
  background-color: rgba(0, 0, 0, 0.05);
}
