# Folder view configuration files
public/js/jsx
public/js/dist
public/js/node
public/css/main.css
public/css/animate/*
public/node_modules/*
public/video/*
public/core-img/*
public/fcode/*
public/assets/*
backend
utils
dist
tmp/*

*.dmg

_tools/environment
