.settings-studio {
  background-color: #f8f8f8;
  overflow: scroll;

  a {
    text-decoration: none;
    cursor: pointer;
  }
  .form {
    width: 70%;
    margin: 0 auto;
  }

  .general {
    padding-top: 85px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .font2 {
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #555;
  }

  .font5 {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #424242;
  }

  .btn {
    &.disabled {
      pointer-events: none;
    }
  }

  .btn-done {
    background: #424242;
    border-radius: 4px;
    line-height: 36px;
    font-size: 14px;
    color: white;
    padding: 0 20px;
    margin: 20px 20px 20px 0px;
    display: inline-block;
    &:hover {
      background: #222;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }
  }
  .btn-cancel {
    border: 1px solid rgba(29, 28, 29, 0.3);
    border-radius: 4px;
    line-height: 34px;
    font-size: 14px;
    color: #333333;
    padding: 0 20px;
    margin: 20px 0px;
    display: inline-block;
    &:hover {
      background: rgba(0, 0, 0, 0.03);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
