@use "styles/variables" as variables;

.points {
  margin: 32px 8px;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .point {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: variables.$secondary-gray;

      &.finished {
        background-color: #4fbb30;
      }
    }
  }
}

.controls {
  margin: 32px 8px 20px;
  display: flex;

  .col {
    &:not(:first-child) {
      border: 1px solid #d9d9d9;
      border-width: 0 0 0 1px;
    }
  }

  .title {
    font-size: 14px;
    font-weight: 700;
    color: #1f1f1f;
  }

  .info {
    font-size: 14px;
    color: variables.$secondary-gray;
  }
}

.link {
  margin: 0 8px;
  font-size: 14px;
  color: #1890ff;
  background: none;
  border: none;
  cursor: pointer;
}
