.container {
  pointer-events: none;

  .x {
    > line {
      stroke: black;
      opacity: 0.18;
      stroke-width: 1;
      vector-effect: non-scaling-stroke;

      &:nth-child(10n + 1) {
        opacity: 0.5;
      }
    }
  }

  .y {
    > line {
      stroke: black;
      opacity: 0.18;
      stroke-width: 1;
      vector-effect: non-scaling-stroke;

      &:nth-child(10n + 1) {
        opacity: 0.5;
      }
    }
  }
}
