@use '@core/styles/variables' as *;

.container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  border-bottom: 1px solid $panelBorderColor;
}

.icon {
  width: 48px;
  height: 48px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;

  & img {
    width: 100%;
    height: 100%;
    transform: scale(3.2);
    object-fit: contain;
    transform-origin: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: $primary-gray;
}

.version {
  font-size: 12px;
  color: $secondary-gray;
}
