.standalone-button {
  width: 100%;
  height: auto;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}
