.container {
  position: relative;
  border: 1px solid #000000;
  height: 50vh;

  .img-container {
    background: #eeeeee;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &.flex {
      display: flex;
      justify-content: center;
    }

    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .spin {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .spinner {
        font-size: 48px;
      }
    }

    > img {
      max-width: unset;
      top: 0;
      position: absolute;
    }

    > svg {
      max-width: unset;
      top: 0;
      position: absolute;
    }
  }

  .zoom-block {
    position: absolute;
    left: 4px;
    bottom: 4px;
    display: flex;
    align-items: center;
    gap: 8px;

    button {
      background: none;
      border: none;
      padding: 0;
      display: inline-flex;
      text-shadow:
        -1px -1px 0 #aaaaaa,
        1px -1px 0 #aaaaaa,
        -1px 1px 0 #aaaaaa,
        1px 1px 0 #aaaaaa;

      .icon {
        path {
          stroke: #aaaaaa;
          stroke-width: 2px;
        }
      }
    }
  }
}
