.container {
  .steps {
    margin: none;
    white-space: pre-line;

    .sub {
      list-style-type: disc;
      padding-left: 1em;
    }
  }

  .video {
    width: 100%;
    min-height: 225px;
    max-height: 400px;
  }
}
