@use '@core/styles/variables' as variables;

.footer-button {
  text-transform: capitalize;
}

.steps {
  padding: 0 0 0 24px;
}

.group {
  circle {
    fill: #ff4d4f;
    stroke: #ff4d4f;
    fill-opacity: 0;
    cursor: move;

    &:active {
      cursor: none;
    }

    &.center {
      fill-opacity: 1;
      stroke: none;
      pointer-events: none;
    }
  }

  text {
    fill: #ff4d4f;
    stroke: none;
  }

  &.selected {
    circle {
      fill: variables.$primary-blue;
      stroke: variables.$primary-blue;

      &.center {
        stroke: none;
      }
    }

    text {
      fill: variables.$primary-blue;
      stroke: none;
    }
  }
}

.point-id {
  color: #ff4d4f;
}

.value {
  height: 100%;
  display: flex;
  align-items: center;
}
